.rectangle-icon {
  height: 4668px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.image-5-icon,
.image-8-icon2,
.image-9-icon2 {
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
}
.image-5-icon {
  height: 100px;
  width: 272px;
  top: 1303px;
  left: 416px;
  z-index: 4;
}
.image-8-icon2,
.image-9-icon2 {
  height: 232px;
  width: 509px;
  bottom: 102px;
  left: 94px;
  border-radius: var(--br-3xs);
  z-index: 5;
}
.image-9-icon2 {
  height: 243px;
  width: 503px;
  left: 684px;
}
.frame-child10,
.frame-child8,
.frame-child9 {
  position: absolute;
  top: 78.02px;
  left: 964.18px;
  border-radius: var(--br-138xl-5);
  background-color: var(--color-turquoise);
  width: 205.4px;
  height: 977.5px;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame-child10,
.frame-child9 {
  top: 0.02px;
  left: 691.18px;
  z-index: 1;
}
.frame-child10 {
  top: 472.02px;
  left: 925.18px;
  z-index: 2;
}
.group-div,
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.group-div {
  bottom: 0;
  left: -528px;
  filter: drop-shadow(7px 6px 10px rgba(11, 155, 133, 0.15));
  width: 1109.4px;
  z-index: 3;
}
.image-13-icon1 {
  position: absolute;
  top: 618px;
  left: 140px;
  border-radius: var(--br-xl);
  width: 812px;
  height: 503px;
  object-fit: cover;
  z-index: 4;
}
.frame-parent22 {
  height: 1308.4px;
  width: 952px;
  position: absolute;
  margin: 0 !important;
  bottom: 520.6px;
  left: 0;
}
.frame-child11 {
  position: absolute;
  top: 196.78px;
  left: 1832.37px;
  filter: blur(150px);
  border-radius: 50%;
  background-color: rgba(223, 254, 239, 0.8);
  width: 984.6px;
  height: 838.6px;
  transform: rotate(-2.2deg);
  transform-origin: 0 0;
  z-index: 1;
}
.frame-child12 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 1332px;
  z-index: 2;
}
.ellipse-parent2 {
  height: 1080px;
  width: 1864.2px;
  top: 0;
  left: 0;
}
.ellipse-parent2,
.image-54-icon,
.vector-container {
  margin: 0 !important;
  position: absolute;
}
.image-54-icon {
  height: 168.9px;
  width: 650px;
  right: 32px;
  bottom: 140.1px;
  border-radius: var(--br-3xs);
  object-fit: cover;
  z-index: 5;
}
.vector-container {
  width: 1920px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.homepage-child,
.homepage-item {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  left: 0;
  z-index: 1;
}
.homepage-child {
  height: 1049px;
  top: 1510px;
  background-color: #dffeef;
}
.homepage-item {
  height: 769px;
  top: 2559px;
  background: linear-gradient(180deg, #dffeef, #f0fff8);
}
.finedventure2,
.our-team3 {
  position: relative;
  display: inline-block;
}
.finedventure2 {
  margin: 0;
  width: 482px;
  font-size: inherit;
  line-height: 83px;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
  white-space: nowrap;
  max-width: 100%;
  z-index: 3;
}
.our-team3 {
  text-decoration: none;
  width: 135px;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal);
  text-align: right;
}
.our-team-container {
  cursor: pointer;
  border: 1px solid var(--color-teal);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-2xs);
  background-color: var(--color-honeydew-100);
  width: 180px;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 4;
}
.business-competitons-frame:hover,
.coming-soon-wrapper:hover,
.financial-literacy-container:hover,
.get-started-wrapper:hover,
.our-team-container:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
}
.financial-literacy3 {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal);
  text-align: left;
  white-space: nowrap;
}
.financial-literacy-container {
  cursor: pointer;
  border: 1px solid var(--color-teal);
  padding: var(--padding-6xs) var(--padding-base) var(--padding-2xs)
    var(--padding-lgi);
  background-color: var(--color-honeydew-100);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.business-competitons2 {
  width: 309px;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
}
.business-competitons-frame {
  cursor: pointer;
  border: 1px solid var(--color-teal);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-2xs);
  background-color: var(--color-honeydew-100);
  align-self: stretch;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.competitions-button {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.investments2 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.investments-container {
  border-radius: var(--br-xl);
  background-color: var(--color-honeydew-100);
  border: 1px solid var(--color-teal);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-mini) var(--padding-2xs)
    var(--padding-lgi);
  z-index: 1;
}
.memoji4,
.profile-background {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.profile-background {
  width: 150px;
  margin: 0 !important;
  border-radius: var(--br-20xl);
  background-color: var(--color-paleturquoise);
  z-index: 1;
}
.memoji4 {
  width: 100%;
  right: 0;
}
.memojivariant124 {
  height: 48px;
  width: 48px;
  position: relative;
  border-radius: var(--br-980xl);
  background-color: var(--color-teal);
  overflow: hidden;
  flex-shrink: 0;
}
.login4 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
}
.login-button,
.login-wrapper2 {
  display: flex;
  align-items: flex-start;
}
.login-wrapper2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.login-button {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
}
.profil2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 2;
}
.file-2-72 {
  height: 26px;
  width: 25px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 13px);
  left: 11px;
  object-fit: cover;
  z-index: 3;
}
.profile-button-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.profile-button {
  width: 173px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.navigation,
.navigation-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.navigation {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-18xl);
}
.navigation-wrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  margin-left: -35px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-lato);
}
.finedventure-group,
.homepage-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.finedventure-group {
  width: 1783px;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-36xl);
  color: var(--color-teal);
  font-family: var(--font-raleway);
}
.homepage-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-37xl);
  box-sizing: border-box;
}
.your-financial-development {
  margin: 0;
}
.your-financial-development-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  z-index: 3;
}
.elevate {
  font-weight: 700;
  font-family: var(--font-montserrat);
  color: var(--color-teal);
}
.elevate-your-financial-literac {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.in-business-competitions {
  font-family: var(--font-montserrat);
  color: var(--color-black);
}
.blank-line1 {
  margin-block-start: 0;
  margin-block-end: 10px;
  font-size: var(--font-size-16xl);
  color: var(--color-teal);
}
.money-talks-we-teach {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.supporting-text35 {
  width: 769px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.your-financial-development-pla-parent {
  width: 964px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 94px;
  max-width: 100%;
}
.homepage-inner1 {
  width: 1126px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 212px;
  box-sizing: border-box;
  max-width: 100%;
}
.login5 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  white-space: pre-wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}
.login-wrapper3 {
  position: absolute;
  top: 15px;
  left: 53px;
  width: 120px;
  height: 19px;
}
.memojivariant125 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-980xl);
  background-color: var(--color-teal);
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.profil3 {
  width: 173px;
  height: 48px;
  position: relative;
  display: none;
  z-index: 6;
  font-size: var(--font-size-base);
  font-family: var(--font-lato);
}
.supporting-text36 {
  width: 536px;
  position: relative;
  line-height: 41px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.supporting-text-wrapper11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-5xl) var(--padding-40xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-family: var(--font-montserrat);
}
.phillips {
  height: 26px;
  position: relative;
  display: inline-block;
}
.phillips-wrapper {
  width: 330.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.image-2-icon {
  height: 87px;
  width: 83px;
  position: relative;
  object-fit: cover;
}
.exeter {
  margin: 0;
  align-self: stretch;
  height: 230px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.exeter-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
  box-sizing: border-box;
  min-width: 442px;
}
.exeter-wrapper,
.frame-parent26,
.image-2-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.image-2-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  z-index: 1;
  margin-top: -13px;
  font-size: 72px;
}
.frame-parent26 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.8;
  min-width: 504px;
  z-index: 3;
}
.image-6-icon {
  width: 435px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.supporting-text37 {
  flex: 1;
  position: relative;
  line-height: 41px;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.image-6-parent,
.supporting-text-wrapper12 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.supporting-text-wrapper12 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.image-6-parent {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 133px;
}
.frame-parent25,
.frame-wrapper10 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper10 {
  width: 551px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  min-width: 551px;
  margin-left: -106px;
  text-align: center;
  font-size: var(--font-size-8xl);
  color: var(--color-teal);
  font-family: var(--font-montserrat);
}
.frame-parent25 {
  width: 1220px;
  flex-direction: row;
  justify-content: center;
  min-width: 1220px;
  row-gap: 20px;
}
.image-7-icon {
  height: 100px;
  width: 109px;
  position: relative;
  object-fit: cover;
}
.the-bronx-high {
  align-self: stretch;
  height: 100px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.bronx-name {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 208px;
}
.bronx-testimonial-inner,
.image-7-parent {
  flex-direction: row;
  justify-content: flex-start;
}
.image-7-parent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.bronx-testimonial-inner {
  align-self: stretch;
  z-index: 1;
}
.bronx-testimonial,
.bronx-testimonial-inner,
.frame-parent24 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.bronx-testimonial {
  width: 447px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 447px;
  color: rgba(97, 97, 97, 0.7);
}
.frame-parent24 {
  width: 1784px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-dimgray-100);
}
.prepare-with-the,
.top-award-winners {
  font-family: var(--font-montserrat);
}
.top-award-winners {
  font-weight: 600;
}
.blank-line3 {
  margin: 0;
  font-weight: 600;
}
.supporting-text38 {
  height: 170px;
  width: 979px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.supporting-text-wrapper13 {
  width: 1825px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.image-3-icon {
  align-self: stretch;
  height: 657px;
  position: relative;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 3;
}
.supporting-text39 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  font-weight: 600;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 2;
}
.supporting-text-wrapper14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) 0 var(--padding-14xl);
  box-sizing: border-box;
  max-width: 100%;
}
.coming-soon {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal);
  text-align: left;
}
.coming-soon-wrapper,
.frame-wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.coming-soon-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-teal);
  padding: var(--padding-6xs) var(--padding-base) var(--padding-2xs)
    var(--padding-lgi);
  background-color: var(--color-honeydew-100);
  border-radius: var(--br-xl);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.frame-wrapper12 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frame-wrapper11,
.image-3-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.image-3-parent {
  align-self: stretch;
  align-items: flex-end;
  gap: 31px;
}
.frame-wrapper11 {
  width: 582px;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-13xl) 0 0;
  box-sizing: border-box;
}
.image-1-icon {
  height: 657.2px;
  flex: 1;
  position: relative;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 3;
}
.image-1-wrapper {
  align-self: stretch;
  height: 657.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) 0 var(--padding-14xl);
  box-sizing: border-box;
  max-width: 100%;
}
.supporting-text40 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  mix-blend-mode: normal;
  z-index: 2;
}
.get-started {
  height: 36px;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal);
  text-align: center;
  display: inline-block;
}
.get-started-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-teal);
  padding: var(--padding-6xs) var(--padding-lg) var(--padding-2xs);
  background-color: var(--color-honeydew-100);
  width: 199px;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.frame-parent29,
.frame-wrapper13,
.supporting-text-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.supporting-text-parent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-14xl);
  flex-shrink: 0;
}
.frame-parent29,
.frame-wrapper13 {
  max-width: 100%;
}
.frame-parent29 {
  align-self: stretch;
  align-items: flex-end;
  gap: 28.8px;
}
.frame-wrapper13 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 400px;
}
.image-2-icon1 {
  height: 663px;
  flex: 1;
  position: relative;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 3;
}
.frame-wrapper15,
.image-2-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.image-2-wrapper {
  height: 663px;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) 0 var(--padding-14xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper15 {
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.frame-parent30,
.supporting-text-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.supporting-text-group {
  align-self: stretch;
  gap: var(--gap-14xl);
}
.frame-parent30 {
  flex: 1;
  gap: var(--gap-5xl);
  min-width: 400px;
  max-width: 100%;
}
.frame-parent27,
.frame-parent28 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent28 {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-lgi);
  margin-top: -24px;
  font-size: var(--font-size-16xl);
  font-family: var(--font-inter);
}
.frame-parent27 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 93px;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}
.blank-line9 {
  margin: 0;
  font-size: var(--font-size-16xl);
}
.supporting-text42 {
  height: 189px;
  width: 1419px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 2;
}
.supporting-text-wrapper15 {
  width: 1811px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray);
}
.supporting-text43 {
  width: 628px;
  position: relative;
  line-height: 53px;
  display: inline-block;
  flex-shrink: 0;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 2;
}
.supporting-text-wrapper16 {
  width: 1818px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-16xl);
}
.call-to-action-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 29px;
  max-width: 100%;
}
.call-to-action-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xl);
  box-sizing: border-box;
  font-size: var(--font-size-21xl);
}
.call-to-action-content-wrapper,
.frame-parent23,
.homepage-inner2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent23 {
  flex: 1;
  flex-direction: column;
  gap: 26px;
}
.homepage-inner2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-4xl) 167px var(--padding-lgi);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-8xl);
  color: var(--color-teal);
  font-family: var(--font-inter);
}
.image-carousel-child,
.image-carousel-item {
  position: absolute;
  top: 844.8px;
  left: 239px;
  width: 1516.4px;
  height: 1332.3px;
  object-fit: contain;
}
.image-carousel-item {
  top: 0;
  left: -86.5px;
  width: 2455.9px;
  height: 908.4px;
  z-index: 1;
}
.image-10-icon2,
.image-11-icon,
.image-12-icon2 {
  position: absolute;
  top: 157.7px;
  left: 1273px;
  border-radius: var(--br-3xs);
  width: 577px;
  height: 147px;
  object-fit: cover;
  z-index: 5;
}
.image-11-icon,
.image-12-icon2 {
  top: 152.7px;
  left: 675px;
  width: 525px;
  height: 168.7px;
}
.image-11-icon {
  top: 33.7px;
  left: 77px;
  width: 550px;
  height: 331.8px;
}
.image-carousel-child1,
.image-carousel-child2,
.image-carousel-inner {
  position: absolute;
  top: 959.7px;
  left: 1083px;
  border-radius: 50%;
  background-color: var(--color-mintcream);
  border: 0 solid var(--color-teal);
  box-sizing: border-box;
  width: 600px;
  height: 600px;
  z-index: 3;
}
.image-carousel-child1,
.image-carousel-child2 {
  left: 238px;
}
.image-carousel-child2 {
  top: 1574.7px;
  left: 655px;
  z-index: 1;
}
.image-carousel {
  width: 100%;
  height: 2177.1px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 335.6px;
  left: 0;
}
.financial-mastery {
  font-weight: 500;
}
.comprehensive-financial-master-container {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  text-transform: capitalize;
  display: inline-block;
  max-width: 100%;
  font-family: inherit;
}
.group1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.our-curriculum-is,
.supporting-text44 {
  font-family: var(--font-inter);
}
.supporting-text44 {
  width: 775px;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 150%;
  color: var(--color-darkslategray);
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 1;
}
.group-parent {
  width: 961px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  max-width: 100%;
}
.homepage-inner3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 395px 571px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: right;
  font-size: var(--font-size-34xl);
  color: var(--color-teal);
  font-family: var(--font-montserrat);
}
.recognitions-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #e3fef2, #fff);
}
.global {
  font-weight: 600;
}
.global-recognitions1 {
  margin: 0;
  height: 66.9px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  text-transform: capitalize;
  display: inline-block;
  max-width: 100%;
  font-family: inherit;
}
.global-recognitions,
.group3,
.group4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.group4 {
  width: 961px;
  justify-content: flex-start;
  z-index: 1;
}
.global-recognitions,
.group3 {
  box-sizing: border-box;
}
.group3 {
  flex: 1;
  justify-content: center;
  padding: 60.2px var(--padding-xl) var(--padding-41xl) 29px;
  position: relative;
  min-height: 997px;
  z-index: 4;
}
.global-recognitions {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 3px;
  text-align: center;
  font-size: 75px;
  color: var(--color-teal);
  font-family: var(--font-montserrat);
}
.weve-been-hard2 {
  margin: 0;
  height: 267px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.group6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.at-work2 {
  margin: 0;
  height: 267px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.group5,
.group7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.group7 {
  align-self: stretch;
  flex-direction: row;
  z-index: 1;
  margin-top: -133px;
}
.group5 {
  width: 1342px;
  flex-direction: column;
  z-index: 2;
}
.representatives-count {
  height: 103px;
  flex: 1;
  position: relative;
  line-height: 50px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.group8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 4;
}
.representatives5 {
  flex: 1;
  position: relative;
  line-height: 50px;
  text-transform: capitalize;
  display: inline-block;
  min-height: 100px;
  max-width: 100%;
}
.group9 {
  align-self: stretch;
  flex-direction: row;
  z-index: 4;
  font-size: var(--font-size-21xl);
}
.group-wrapper,
.group12,
.group9,
.representatives-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.representatives-content {
  width: 572px;
  flex-direction: column;
  gap: var(--gap-18xl);
  min-width: 572px;
}
.group-wrapper,
.group12 {
  flex-direction: row;
}
.group12 {
  flex: 1;
  z-index: 4;
}
.group-wrapper {
  align-self: stretch;
  padding: 0 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.countries-represented3 {
  flex: 1;
  position: relative;
  line-height: 50px;
  text-transform: capitalize;
  display: inline-block;
  max-width: 100%;
}
.countries-represented2,
.group13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.group13 {
  width: 572px;
  flex-direction: row;
  z-index: 4;
  font-size: var(--font-size-21xl);
}
.countries-represented2 {
  width: 586px;
  flex-direction: column;
  gap: var(--gap-18xl);
  min-width: 586px;
}
.representatives-content-parent {
  width: 1431px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.representatives4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-151xl);
}
.impact,
.impact-content,
.representatives4 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.impact-content {
  width: 1588px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 142px;
}
.impact {
  width: 1778px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-213xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-teal);
  font-family: var(--font-montserrat);
}
.students-count {
  height: 103px;
  flex: 1;
  position: relative;
  line-height: 50px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.group16,
.group17 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 2;
}
.group16 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.group17 {
  font-size: var(--font-size-21xl);
}
.group-group,
.group17,
.students-reached2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.group-group {
  width: 572px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 46px;
}
.students-reached2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-11xl) 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-136xl);
  color: var(--color-teal);
  font-family: var(--font-montserrat);
}
.homepage,
.homepage-child1 {
  overflow: hidden;
  position: relative;
}
.homepage-child1 {
  width: 104px;
  height: 243px;
  flex-shrink: 0;
  display: none;
  z-index: 12;
}
.homepage {
  width: 1920px;
  background-color: var(--color-white);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-34xl) 0 491px;
  box-sizing: border-box;
  gap: 158px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 65px;
  color: var(--color-teal);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 1800px) {
  .business-competitons2,
  .login-wrapper2,
  .login4 {
    display: none;
  }
  .bronx-testimonial,
  .frame-parent25 {
    flex: 1;
  }
  .frame-parent24 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-parent30,
  .frame-wrapper13 {
    flex: 1;
  }
  .frame-parent28 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .homepage-inner {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .your-financial-development-pla-parent {
    gap: 47px;
  }
  .frame-wrapper10 {
    flex: 1;
    margin-left: 0;
  }
  .frame-parent25 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-parent27 {
    padding-bottom: var(--padding-41xl);
    box-sizing: border-box;
  }
  .homepage-inner2 {
    padding-bottom: 71px;
    box-sizing: border-box;
  }
  .group-parent {
    gap: 30px;
  }
  .homepage-inner3 {
    padding-left: 285px;
    box-sizing: border-box;
  }
  .countries-represented2,
  .representatives-content {
    flex: 1;
  }
  .representatives-content-parent {
    flex-wrap: wrap;
  }
  .impact-content {
    gap: 71px;
  }
  .impact {
    padding-bottom: var(--padding-132xl);
    box-sizing: border-box;
  }
  .homepage {
    gap: var(--gap-60xl);
  }
}
@media screen and (max-width: 900px) {
  .navigation {
    gap: var(--gap-lg);
  }
  .your-financial-development-container {
    font-size: 52px;
    line-height: 78px;
  }
  .supporting-text35 {
    font-size: var(--font-size-5xl);
    line-height: 48px;
  }
  .your-financial-development-pla-parent {
    gap: var(--gap-4xl);
  }
  .homepage-inner1 {
    padding-bottom: 138px;
    box-sizing: border-box;
  }
  .phillips {
    font-size: var(--font-size-10xl);
  }
  .exeter {
    font-size: 58px;
  }
  .exeter-wrapper {
    min-width: 100%;
  }
  .image-2-parent {
    flex-wrap: wrap;
  }
  .frame-parent26 {
    min-width: 100%;
  }
  .image-6-parent {
    gap: var(--gap-47xl);
  }
  .frame-wrapper10 {
    min-width: 100%;
  }
  .the-bronx-high {
    font-size: var(--font-size-10xl);
  }
  .bronx-testimonial {
    min-width: 100%;
  }
  .supporting-text38 {
    font-size: var(--font-size-13xl);
    line-height: 48px;
  }
  .supporting-text39 {
    font-size: var(--font-size-9xl);
    line-height: 42px;
  }
  .image-3-parent {
    gap: var(--gap-mini);
  }
  .supporting-text40 {
    font-size: var(--font-size-9xl);
    line-height: 42px;
  }
  .supporting-text-parent {
    gap: var(--gap-base);
  }
  .frame-wrapper13 {
    min-width: 100%;
  }
  .supporting-text-group {
    gap: var(--gap-base);
  }
  .frame-parent30 {
    min-width: 100%;
  }
  .frame-parent27 {
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
  .supporting-text42 {
    font-size: var(--font-size-5xl);
    line-height: 42px;
  }
  .supporting-text43 {
    font-size: var(--font-size-9xl);
    line-height: 42px;
  }
  .homepage-inner2 {
    padding-bottom: 46px;
    box-sizing: border-box;
  }
  .comprehensive-financial-master-container {
    font-size: var(--font-size-23xl);
    line-height: 40px;
  }
  .supporting-text44 {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .homepage-inner3 {
    padding-left: 142px;
    padding-bottom: 257px;
    box-sizing: border-box;
  }
  .global-recognitions1 {
    font-size: var(--font-size-41xl);
    line-height: 40px;
  }
  .at-work2,
  .weve-been-hard2 {
    font-size: var(--font-size-31xl);
    line-height: 30px;
  }
  .representatives-count {
    font-size: var(--font-size-49xl);
    line-height: 30px;
  }
  .representatives5 {
    font-size: var(--font-size-13xl);
    line-height: 40px;
  }
  .representatives-content {
    gap: var(--gap-lg);
    min-width: 100%;
  }
  .countries-represented3 {
    font-size: var(--font-size-13xl);
    line-height: 40px;
  }
  .countries-represented2 {
    gap: var(--gap-lg);
    min-width: 100%;
  }
  .impact-content {
    gap: 35px;
  }
  .impact {
    padding-bottom: 98px;
    box-sizing: border-box;
  }
  .students-count {
    font-size: var(--font-size-43xl);
    line-height: 30px;
  }
  .group-group {
    gap: var(--gap-4xl);
  }
  .homepage {
    gap: var(--gap-20xl);
  }
}
@media screen and (max-width: 450px) {
  .your-financial-development-container {
    font-size: var(--font-size-20xl);
    line-height: 58px;
  }
  .supporting-text35 {
    font-size: var(--font-size-lg);
    line-height: 36px;
  }
  .supporting-text36 {
    line-height: 32px;
  }
  .phillips,
  .supporting-text36 {
    font-size: var(--font-size-3xl);
  }
  .exeter {
    font-size: 43px;
  }
  .supporting-text37 {
    font-size: var(--font-size-3xl);
    line-height: 32px;
  }
  .image-6-parent {
    gap: var(--gap-14xl);
  }
  .image-7-icon {
    flex: 1;
  }
  .the-bronx-high {
    font-size: var(--font-size-3xl);
  }
  .image-7-parent {
    flex-wrap: wrap;
  }
  .supporting-text38 {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .supporting-text39,
  .supporting-text40 {
    font-size: var(--font-size-2xl);
    line-height: 31px;
  }
  .supporting-text42 {
    font-size: var(--font-size-lg);
    line-height: 31px;
  }
  .supporting-text43 {
    font-size: var(--font-size-2xl);
    line-height: 31px;
  }
  .comprehensive-financial-master-container {
    font-size: var(--font-size-13xl);
    line-height: 30px;
  }
  .supporting-text44 {
    font-size: var(--font-size-lg);
    line-height: 27px;
  }
  .homepage-inner3 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .global-recognitions1 {
    font-size: 45px;
    line-height: 30px;
  }
  .at-work2,
  .weve-been-hard2 {
    font-size: var(--font-size-11xl);
    line-height: 20px;
  }
  .representatives-count {
    font-size: var(--font-size-23xl);
    line-height: 20px;
  }
  .countries-represented3,
  .representatives5 {
    font-size: var(--font-size-5xl);
    line-height: 30px;
  }
  .impact-content {
    gap: var(--gap-lg);
  }
  .students-count {
    font-size: var(--font-size-20xl);
    line-height: 20px;
  }
}
