.rectangle-icon {
  height: 291.75rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.image-5-icon,
.image-8-icon2,
.image-9-icon2 {
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
}
.image-5-icon {
  height: 6.25rem;
  width: 17rem;
  top: 81.438rem;
  left: 26rem;
  z-index: 4;
}
.image-8-icon2,
.image-9-icon2 {
  height: 14.5rem;
  width: 31.813rem;
  bottom: 6.375rem;
  left: 5.875rem;
  border-radius: var(--br-3xs);
  z-index: 5;
}
.image-9-icon2 {
  height: 15.188rem;
  width: 31.438rem;
  left: 42.75rem;
}
.frame-child22,
.frame-child23,
.frame-child24 {
  position: absolute;
  top: 4.876rem;
  left: 60.261rem;
  border-radius: var(--br-138xl-5);
  background-color: var(--color-turquoise);
  width: 12.838rem;
  height: 61.094rem;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame-child23,
.frame-child24 {
  top: 0.001rem;
  left: 43.199rem;
  z-index: 1;
}
.frame-child24 {
  top: 29.501rem;
  left: 57.824rem;
  z-index: 2;
}
.group-div,
.rectangle-parent10 {
  position: absolute;
  height: 100%;
  top: 0;
}
.rectangle-parent10 {
  left: 0;
  width: 100%;
}
.group-div {
  bottom: 0;
  left: -33rem;
  filter: drop-shadow(7px 6px 10px rgba(11, 155, 133, 0.15));
  width: 69.338rem;
  z-index: 3;
}
.image-13-icon1 {
  position: absolute;
  top: 38.625rem;
  left: 8.75rem;
  border-radius: var(--br-xl);
  width: 50.75rem;
  height: 31.438rem;
  object-fit: cover;
  z-index: 4;
}
.frame-parent30 {
  height: 81.775rem;
  width: 59.5rem;
  position: absolute;
  margin: 0 !important;
  bottom: 32.538rem;
  left: 0;
}
.frame-child25 {
  position: absolute;
  top: 12.299rem;
  left: 114.523rem;
  filter: blur(150px);
  border-radius: 50%;
  background-color: rgba(223, 254, 239, 0.8);
  width: 61.538rem;
  height: 52.413rem;
  transform: rotate(-2.2deg);
  transform-origin: 0 0;
  z-index: 1;
}
.frame-child26 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 83.25rem;
  z-index: 2;
}
.ellipse-parent2 {
  height: 67.5rem;
  width: 116.513rem;
  top: 0;
  left: 0;
}
.ellipse-parent2,
.image-54-icon,
.vector-parent1 {
  margin: 0 !important;
  position: absolute;
}
.image-54-icon {
  height: 10.556rem;
  width: 40.625rem;
  right: 2rem;
  bottom: 8.756rem;
  border-radius: var(--br-3xs);
  object-fit: cover;
  z-index: 5;
}
.vector-parent1 {
  width: 120rem;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.homepage-child,
.homepage-item {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  left: 0;
  z-index: 1;
}
.homepage-child {
  height: 65.563rem;
  top: 94.375rem;
  background-color: #dffeef;
}
.homepage-item {
  height: 48.063rem;
  top: 159.938rem;
  background: linear-gradient(180deg, #dffeef, #f0fff8);
}
.finedventure3,
.our-team3 {
  position: relative;
  display: inline-block;
}
.finedventure3 {
  margin: 0;
  width: 30.125rem;
  font-size: inherit;
  line-height: 5.188rem;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
  white-space: nowrap;
  max-width: 100%;
  z-index: 3;
}
.our-team3 {
  text-decoration: none;
  width: 8.438rem;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal-100);
  text-align: right;
}
.our-team-container {
  cursor: pointer;
  border: 1px solid var(--color-teal-100);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-2xs);
  background-color: var(--color-honeydew-100);
  width: 11.25rem;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 4;
}
.business-competitons-frame:hover,
.coming-soon-wrapper:hover,
.financial-literacy-container:hover,
.get-started-wrapper:hover,
.our-team-container:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-lightseagreen-200);
  box-sizing: border-box;
}
.financial-literacy3 {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal-100);
  text-align: left;
  white-space: nowrap;
}
.financial-literacy-container {
  cursor: pointer;
  border: 1px solid var(--color-teal-100);
  padding: var(--padding-6xs) var(--padding-base) var(--padding-2xs)
    var(--padding-lgi);
  background-color: var(--color-honeydew-100);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.business-competitons2 {
  width: 19.313rem;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal-100);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
}
.business-competitons-frame {
  cursor: pointer;
  border: 1px solid var(--color-teal-100);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-2xs);
  background-color: var(--color-honeydew-100);
  align-self: stretch;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.competitions-button {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.investments2 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.investments-container {
  border-radius: var(--br-xl);
  background-color: var(--color-honeydew-100);
  border: 1px solid var(--color-teal-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-mini) var(--padding-2xs)
    var(--padding-lgi);
  z-index: 1;
}
.memoji4,
.profile-background {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.profile-background {
  width: 9.375rem;
  margin: 0 !important;
  border-radius: var(--br-20xl);
  background-color: var(--color-paleturquoise);
  z-index: 1;
}
.memoji4 {
  width: 100%;
  right: 0;
}
.memojivariant124 {
  height: 3rem;
  width: 3rem;
  position: relative;
  border-radius: var(--br-980xl);
  background-color: var(--color-teal-100);
  overflow: hidden;
  flex-shrink: 0;
}
.login4 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
}
.login-button,
.login-wrapper2 {
  display: flex;
  align-items: flex-start;
}
.login-wrapper2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.login-button {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
}
.profil2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 2;
}
.file-2-72 {
  height: 1.625rem;
  width: 1.563rem;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 13px);
  left: 0.688rem;
  object-fit: cover;
  z-index: 3;
}
.profile-button-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.profile-button {
  width: 10.813rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.navigation-wrapper,
.navigation1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.navigation1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-18xl);
}
.navigation-wrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  margin-left: -2.188rem;
  font-size: var(--font-size-11xl);
  font-family: var(--font-lato);
}
.finedventure-group,
.homepage-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.finedventure-group {
  width: 111.438rem;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-36xl);
  color: var(--color-teal-100);
  font-family: var(--font-raleway);
}
.homepage-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-37xl);
  box-sizing: border-box;
}
.your-financial-development {
  margin: 0;
}
.your-financial-development-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  z-index: 3;
}
.elevate {
  font-weight: 700;
  font-family: var(--font-montserrat);
  color: var(--color-teal-100);
}
.elevate-your-financial-literac {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.in-business-competitions {
  font-family: var(--font-montserrat);
  color: var(--color-black);
}
.blank-line21 {
  margin-block-start: 0;
  margin-block-end: 10px;
  font-size: var(--font-size-16xl);
  color: var(--color-teal-100);
}
.money-talks-we-teach {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.supporting-text53 {
  width: 48.063rem;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.your-financial-development-pla-parent {
  width: 60.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.875rem;
  max-width: 100%;
}
.homepage-inner1 {
  width: 70.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 13.25rem;
  box-sizing: border-box;
  max-width: 100%;
}
.login5 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  white-space: pre-wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}
.login-wrapper3 {
  position: absolute;
  top: 0.938rem;
  left: 3.313rem;
  width: 7.5rem;
  height: 1.188rem;
}
.memojivariant125 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-980xl);
  background-color: var(--color-teal-100);
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
.profil3 {
  width: 10.813rem;
  height: 3rem;
  position: relative;
  display: none;
  z-index: 6;
  font-size: var(--font-size-base);
  font-family: var(--font-lato);
}
.supporting-text54 {
  width: 33.5rem;
  position: relative;
  line-height: 2.563rem;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.supporting-text-wrapper14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-5xl) var(--padding-40xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-family: var(--font-montserrat);
}
.phillips {
  height: 1.625rem;
  position: relative;
  display: inline-block;
}
.phillips-wrapper {
  width: 20.638rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.image-2-icon1 {
  height: 5.438rem;
  width: 5.188rem;
  position: relative;
  object-fit: cover;
}
.exeter {
  margin: 0;
  align-self: stretch;
  height: 14.375rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.exeter-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
  box-sizing: border-box;
  min-width: 27.625rem;
}
.exeter-wrapper,
.frame-parent34,
.image-2-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.image-2-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 0.75rem;
  z-index: 1;
  margin-top: -0.813rem;
  font-size: 4.5rem;
}
.frame-parent34 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.8;
  min-width: 31.5rem;
  z-index: 3;
}
.image-6-icon {
  width: 27.188rem;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.supporting-text55 {
  flex: 1;
  position: relative;
  line-height: 2.563rem;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.image-6-parent,
.supporting-text-wrapper15 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.supporting-text-wrapper15 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.image-6-parent {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8.312rem;
}
.frame-parent33,
.frame-wrapper16 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper16 {
  width: 34.438rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  min-width: 34.438rem;
  margin-left: -6.625rem;
  text-align: center;
  font-size: var(--font-size-8xl);
  color: var(--color-teal-100);
  font-family: var(--font-montserrat);
}
.frame-parent33 {
  width: 76.25rem;
  flex-direction: row;
  justify-content: center;
  min-width: 76.25rem;
  row-gap: 20px;
}
.image-7-icon,
.the-bronx-high {
  height: 6.25rem;
  position: relative;
}
.image-7-icon {
  width: 6.813rem;
  object-fit: cover;
}
.the-bronx-high {
  align-self: stretch;
  display: inline-block;
  flex-shrink: 0;
}
.bronx-name {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 13rem;
}
.bronx-testimonial-inner,
.image-7-parent {
  flex-direction: row;
  justify-content: flex-start;
}
.image-7-parent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.bronx-testimonial-inner {
  align-self: stretch;
  z-index: 1;
}
.bronx-testimonial,
.bronx-testimonial-inner,
.frame-parent32 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.bronx-testimonial {
  width: 27.938rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 27.938rem;
  color: rgba(97, 97, 97, 0.7);
}
.frame-parent32 {
  width: 111.5rem;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-dimgray-100);
}
.prepare-with-the,
.top-award-winners {
  font-family: var(--font-montserrat);
}
.top-award-winners {
  font-weight: 600;
}
.blank-line23 {
  margin: 0;
  font-weight: 600;
}
.supporting-text56 {
  height: 10.625rem;
  width: 61.188rem;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.supporting-text-wrapper16 {
  width: 114.063rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.image-3-icon {
  align-self: stretch;
  height: 41.063rem;
  position: relative;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 3;
}
.supporting-text57 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  font-weight: 600;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 2;
}
.supporting-text-wrapper17 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) 0 var(--padding-14xl);
  box-sizing: border-box;
  max-width: 100%;
}
.coming-soon {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal-100);
  text-align: left;
}
.coming-soon-wrapper,
.frame-wrapper18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.coming-soon-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-teal-100);
  padding: var(--padding-6xs) var(--padding-base) var(--padding-2xs)
    var(--padding-lgi);
  background-color: var(--color-honeydew-100);
  border-radius: var(--br-xl);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.frame-wrapper18 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frame-wrapper17,
.image-3-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.image-3-parent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-12xl);
}
.frame-wrapper17 {
  width: 36.375rem;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-13xl) 0 0;
  box-sizing: border-box;
}
.image-1-icon {
  height: 41.075rem;
  flex: 1;
  position: relative;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 3;
}
.image-1-wrapper {
  align-self: stretch;
  height: 41.075rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) 0 var(--padding-14xl);
  box-sizing: border-box;
  max-width: 100%;
}
.supporting-text58 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  mix-blend-mode: normal;
  z-index: 2;
}
.get-started {
  height: 2.25rem;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal-100);
  text-align: center;
  display: inline-block;
}
.get-started-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-teal-100);
  padding: var(--padding-6xs) var(--padding-lg) var(--padding-2xs);
  background-color: var(--color-honeydew-100);
  width: 12.438rem;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.frame-parent37,
.frame-wrapper19,
.supporting-text-parent3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.supporting-text-parent3 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-14xl);
  flex-shrink: 0;
}
.frame-parent37,
.frame-wrapper19 {
  max-width: 100%;
}
.frame-parent37 {
  align-self: stretch;
  align-items: flex-end;
  gap: 1.8rem;
}
.frame-wrapper19 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 25rem;
}
.image-2-icon2 {
  height: 41.438rem;
  flex: 1;
  position: relative;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 3;
}
.frame-wrapper21,
.image-2-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.image-2-wrapper {
  height: 41.438rem;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) 0 var(--padding-14xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper21 {
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.frame-parent38,
.supporting-text-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.supporting-text-parent4 {
  align-self: stretch;
  gap: var(--gap-14xl);
}
.frame-parent38 {
  flex: 1;
  gap: var(--gap-5xl);
  min-width: 25rem;
  max-width: 100%;
}
.frame-parent35,
.frame-parent36 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent36 {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-lgi);
  margin-top: -1.5rem;
  font-size: var(--font-size-16xl);
  font-family: var(--font-inter);
}
.frame-parent35 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-74xl);
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}
.blank-line29 {
  margin: 0;
  font-size: var(--font-size-16xl);
}
.supporting-text60 {
  height: 11.813rem;
  width: 88.688rem;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 2;
}
.supporting-text-wrapper18 {
  width: 113.188rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray);
}
.supporting-text61 {
  width: 39.25rem;
  position: relative;
  line-height: 3.313rem;
  display: inline-block;
  flex-shrink: 0;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 2;
}
.supporting-text-wrapper19 {
  width: 113.625rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-16xl);
}
.call-to-action-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.812rem;
  max-width: 100%;
}
.call-to-action-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xl);
  box-sizing: border-box;
  font-size: var(--font-size-21xl);
}
.call-to-action-content-wrapper,
.frame-parent31,
.homepage-inner2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent31 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xl);
}
.homepage-inner2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-4xl) 10.437rem var(--padding-lgi);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-8xl);
  color: var(--color-teal-100);
  font-family: var(--font-inter);
}
.image-carousel-child {
  position: absolute;
  top: 52.8rem;
  left: 14.938rem;
  width: 94.775rem;
  height: 83.269rem;
  object-fit: contain;
}
.image-carousel-item {
  position: absolute;
  top: 0;
  left: -5.406rem;
  width: 153.494rem;
  height: 56.775rem;
  object-fit: contain;
  z-index: 1;
}
.image-10-icon2,
.image-11-icon,
.image-12-icon2 {
  position: absolute;
  top: 9.856rem;
  left: 79.563rem;
  border-radius: var(--br-3xs);
  width: 36.063rem;
  height: 9.188rem;
  object-fit: cover;
  z-index: 5;
}
.image-11-icon,
.image-12-icon2 {
  top: 9.544rem;
  left: 42.188rem;
  width: 32.813rem;
  height: 10.544rem;
}
.image-11-icon {
  top: 2.106rem;
  left: 4.813rem;
  width: 34.375rem;
  height: 20.738rem;
}
.image-carousel-child1,
.image-carousel-child2,
.image-carousel-inner {
  position: absolute;
  top: 59.981rem;
  left: 67.688rem;
  border-radius: 50%;
  background-color: var(--color-mintcream);
  border: 0 solid var(--color-teal-100);
  box-sizing: border-box;
  width: 37.5rem;
  height: 37.5rem;
  z-index: 3;
}
.image-carousel-child1,
.image-carousel-child2 {
  left: 14.875rem;
}
.image-carousel-child2 {
  top: 98.419rem;
  left: 40.938rem;
  z-index: 1;
}
.image-carousel {
  width: 100%;
  height: 136.069rem;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 20.975rem;
  left: 0;
}
.financial-mastery {
  font-weight: 500;
}
.comprehensive-financial-master-container {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 3.125rem;
  text-transform: capitalize;
  display: inline-block;
  max-width: 100%;
  font-family: inherit;
}
.group1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.our-curriculum-is,
.supporting-text62 {
  font-family: var(--font-inter);
}
.supporting-text62 {
  width: 48.438rem;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 150%;
  color: var(--color-darkslategray);
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 1;
}
.group-parent {
  width: 60.063rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  max-width: 100%;
}
.homepage-inner3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 24.687rem 35.687rem;
  box-sizing: border-box;
  max-width: 100%;
  text-align: right;
  font-size: var(--font-size-34xl);
  color: var(--color-teal-100);
  font-family: var(--font-montserrat);
}
.recognitions-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #e3fef2, #fff);
}
.global {
  font-weight: 600;
}
.global-recognitions1 {
  margin: 0;
  height: 4.181rem;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 3.125rem;
  text-transform: capitalize;
  display: inline-block;
  max-width: 100%;
  font-family: inherit;
}
.global-recognitions,
.group3,
.group4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.group4 {
  width: 60.063rem;
  justify-content: flex-start;
  z-index: 1;
}
.global-recognitions,
.group3 {
  box-sizing: border-box;
}
.group3 {
  flex: 1;
  justify-content: center;
  padding: 3.762rem var(--padding-xl) var(--padding-41xl) var(--padding-10xl);
  position: relative;
  min-height: 62.313rem;
  z-index: 4;
}
.global-recognitions {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  text-align: center;
  font-size: 4.688rem;
  color: var(--color-teal-100);
  font-family: var(--font-montserrat);
}
.weve-been-hard2 {
  margin: 0;
  height: 16.688rem;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 3.125rem;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.group6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.at-work2 {
  margin: 0;
  height: 16.688rem;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 3.125rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.group5,
.group7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.group7 {
  align-self: stretch;
  flex-direction: row;
  z-index: 1;
  margin-top: -8.313rem;
}
.group5 {
  width: 83.875rem;
  flex-direction: column;
  z-index: 2;
}
.representatives-count {
  height: 6.438rem;
  flex: 1;
  position: relative;
  line-height: 3.125rem;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.group8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 4;
}
.representatives5 {
  flex: 1;
  position: relative;
  line-height: 3.125rem;
  text-transform: capitalize;
  display: inline-block;
  min-height: 6.25rem;
  max-width: 100%;
}
.group9 {
  align-self: stretch;
  flex-direction: row;
  z-index: 4;
  font-size: var(--font-size-21xl);
}
.group-wrapper,
.group12,
.group9,
.representatives-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.representatives-content {
  width: 35.75rem;
  flex-direction: column;
  gap: var(--gap-18xl);
  min-width: 35.75rem;
}
.group-wrapper,
.group12 {
  flex-direction: row;
}
.group12 {
  flex: 1;
  z-index: 4;
}
.group-wrapper {
  align-self: stretch;
  padding: 0 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.countries-represented3 {
  flex: 1;
  position: relative;
  line-height: 3.125rem;
  text-transform: capitalize;
  display: inline-block;
  max-width: 100%;
}
.countries-represented2,
.group13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.group13 {
  width: 35.75rem;
  flex-direction: row;
  z-index: 4;
  font-size: var(--font-size-21xl);
}
.countries-represented2 {
  width: 36.625rem;
  flex-direction: column;
  gap: var(--gap-18xl);
  min-width: 36.625rem;
}
.representatives-content-parent {
  width: 89.438rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.representatives4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-151xl);
}
.impact,
.impact-content,
.representatives4 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.impact-content {
  width: 99.25rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8.875rem;
}
.impact {
  width: 111.125rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-213xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-teal-100);
  font-family: var(--font-montserrat);
}
.students-count {
  height: 6.438rem;
  flex: 1;
  position: relative;
  line-height: 3.125rem;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.group16,
.group17 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 2;
}
.group16 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.group17 {
  font-size: var(--font-size-21xl);
}
.group-group,
.group17,
.students-reached2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.group-group {
  width: 35.75rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.875rem;
}
.students-reached2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-11xl) 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-136xl);
  color: var(--color-teal-100);
  font-family: var(--font-montserrat);
}
.homepage,
.homepage-child1 {
  overflow: hidden;
  position: relative;
}
.homepage-child1 {
  width: 6.5rem;
  height: 15.188rem;
  flex-shrink: 0;
  display: none;
  z-index: 12;
}
.homepage {
  width: 120rem;
  background-color: var(--color-white);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-34xl) 0 30.687rem;
  box-sizing: border-box;
  gap: 9.875rem;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 4.063rem;
  color: var(--color-teal-100);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 1800px) {
  .business-competitons2,
  .login-wrapper2,
  .login4 {
    display: none;
  }
  .bronx-testimonial,
  .frame-parent33 {
    flex: 1;
  }
  .frame-parent32 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-parent38,
  .frame-wrapper19 {
    flex: 1;
  }
  .frame-parent36 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .homepage-inner {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .your-financial-development-pla-parent {
    gap: 2.938rem;
  }
  .frame-wrapper16 {
    flex: 1;
    margin-left: 0;
  }
  .frame-parent33 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-parent35 {
    padding-bottom: var(--padding-41xl);
    box-sizing: border-box;
  }
  .homepage-inner2 {
    padding-bottom: 4.438rem;
    box-sizing: border-box;
  }
  .group-parent {
    gap: 1.875rem;
  }
  .homepage-inner3 {
    padding-left: 17.813rem;
    box-sizing: border-box;
  }
  .countries-represented2,
  .representatives-content {
    flex: 1;
  }
  .representatives-content-parent {
    flex-wrap: wrap;
  }
  .impact-content {
    gap: 4.438rem;
  }
  .impact {
    padding-bottom: var(--padding-132xl);
    box-sizing: border-box;
  }
  .homepage {
    gap: var(--gap-60xl);
  }
}
@media screen and (max-width: 900px) {
  .navigation1 {
    gap: var(--gap-lg);
  }
  .your-financial-development-container {
    font-size: 3.25rem;
    line-height: 4.875rem;
  }
  .supporting-text53 {
    font-size: var(--font-size-5xl);
    line-height: 3rem;
  }
  .your-financial-development-pla-parent {
    gap: var(--gap-4xl);
  }
  .homepage-inner1 {
    padding-bottom: 8.625rem;
    box-sizing: border-box;
  }
  .phillips {
    font-size: var(--font-size-10xl);
  }
  .exeter {
    font-size: 3.625rem;
  }
  .exeter-wrapper {
    min-width: 100%;
  }
  .image-2-parent {
    flex-wrap: wrap;
  }
  .frame-parent34 {
    min-width: 100%;
  }
  .image-6-parent {
    gap: var(--gap-47xl);
  }
  .frame-wrapper16 {
    min-width: 100%;
  }
  .the-bronx-high {
    font-size: var(--font-size-10xl);
  }
  .bronx-testimonial {
    min-width: 100%;
  }
  .supporting-text56 {
    font-size: var(--font-size-13xl);
    line-height: 3rem;
  }
  .supporting-text57 {
    font-size: var(--font-size-9xl);
    line-height: 2.625rem;
  }
  .image-3-parent {
    gap: var(--gap-mini);
  }
  .supporting-text58 {
    font-size: var(--font-size-9xl);
    line-height: 2.625rem;
  }
  .supporting-text-parent3 {
    gap: var(--gap-base);
  }
  .frame-wrapper19 {
    min-width: 100%;
  }
  .supporting-text-parent4 {
    gap: var(--gap-base);
  }
  .frame-parent38 {
    min-width: 100%;
  }
  .frame-parent35 {
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
  .supporting-text60,
  .supporting-text61 {
    font-size: var(--font-size-5xl);
    line-height: 2.625rem;
  }
  .supporting-text61 {
    font-size: var(--font-size-9xl);
  }
  .homepage-inner2 {
    padding-bottom: var(--padding-27xl);
    box-sizing: border-box;
  }
  .comprehensive-financial-master-container {
    font-size: var(--font-size-23xl);
    line-height: 2.5rem;
  }
  .supporting-text62 {
    font-size: var(--font-size-5xl);
    line-height: 2.25rem;
  }
  .homepage-inner3 {
    padding-left: 8.875rem;
    padding-bottom: 16.063rem;
    box-sizing: border-box;
  }
  .global-recognitions1 {
    font-size: var(--font-size-41xl);
    line-height: 2.5rem;
  }
  .at-work2,
  .weve-been-hard2 {
    font-size: var(--font-size-31xl);
    line-height: 1.875rem;
  }
  .representatives-count {
    font-size: var(--font-size-49xl);
    line-height: 1.875rem;
  }
  .representatives5 {
    font-size: var(--font-size-13xl);
    line-height: 2.5rem;
  }
  .representatives-content {
    gap: var(--gap-lg);
    min-width: 100%;
  }
  .countries-represented3 {
    font-size: var(--font-size-13xl);
    line-height: 2.5rem;
  }
  .countries-represented2 {
    gap: var(--gap-lg);
    min-width: 100%;
  }
  .impact-content {
    gap: 2.188rem;
  }
  .impact {
    padding-bottom: 6.125rem;
    box-sizing: border-box;
  }
  .students-count {
    font-size: var(--font-size-43xl);
    line-height: 1.875rem;
  }
  .group-group {
    gap: var(--gap-4xl);
  }
  .homepage {
    gap: var(--gap-20xl);
  }
}
@media screen and (max-width: 450px) {
  .your-financial-development-container {
    font-size: var(--font-size-20xl);
    line-height: 3.625rem;
  }
  .supporting-text53 {
    font-size: var(--font-size-lg);
    line-height: 2.25rem;
  }
  .supporting-text54 {
    line-height: 2rem;
  }
  .phillips,
  .supporting-text54 {
    font-size: var(--font-size-3xl);
  }
  .exeter {
    font-size: 2.688rem;
  }
  .supporting-text55 {
    font-size: var(--font-size-3xl);
    line-height: 2rem;
  }
  .image-6-parent {
    gap: var(--gap-14xl);
  }
  .image-7-icon {
    flex: 1;
  }
  .the-bronx-high {
    font-size: var(--font-size-3xl);
  }
  .image-7-parent {
    flex-wrap: wrap;
  }
  .supporting-text56 {
    font-size: var(--font-size-5xl);
    line-height: 2.25rem;
  }
  .supporting-text57,
  .supporting-text58 {
    font-size: var(--font-size-2xl);
    line-height: 1.938rem;
  }
  .supporting-text60,
  .supporting-text61 {
    font-size: var(--font-size-lg);
    line-height: 1.938rem;
  }
  .supporting-text61 {
    font-size: var(--font-size-2xl);
  }
  .comprehensive-financial-master-container {
    font-size: var(--font-size-13xl);
    line-height: 1.875rem;
  }
  .supporting-text62 {
    font-size: var(--font-size-lg);
    line-height: 1.688rem;
  }
  .homepage-inner3 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .global-recognitions1 {
    font-size: var(--font-size-26xl);
    line-height: 1.875rem;
  }
  .at-work2,
  .weve-been-hard2 {
    font-size: var(--font-size-11xl);
    line-height: 1.25rem;
  }
  .representatives-count {
    font-size: var(--font-size-23xl);
    line-height: 1.25rem;
  }
  .countries-represented3,
  .representatives5 {
    font-size: var(--font-size-5xl);
    line-height: 1.875rem;
  }
  .impact-content {
    gap: var(--gap-lg);
  }
  .students-count {
    font-size: var(--font-size-20xl);
    line-height: 1.25rem;
  }
}
