.text-here,
.text-here1 {
  width: 240px;
  position: relative;
  line-height: 42px;
  font-weight: 500;
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.text-here1 {
  color: var(--color-lavender);
}
.file-2-2-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 var(--padding-7xs);
}
.download-7-removebg-preview-icon {
  height: 44px;
  width: 46px;
  position: relative;
  object-fit: cover;
}
.download-7-removebg-preview-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 var(--padding-5xs);
}
.download-removebg-preview-2 {
  height: 52px;
  width: 61px;
  position: relative;
  object-fit: cover;
}
.download-removebg-preview-2-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.removebg-preview-1-icon {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
}
.frame-parent,
.intro-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  gap: var(--gap-43xl);
}
.intro-inner {
  padding: var(--padding-188xl) 0 0;
}
.frame-inner {
  width: 1693px;
  height: 4126px;
  position: relative;
  background-color: var(--color-mintcream);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.line-icon {
  width: 39px;
  height: 0;
  position: absolute;
  margin: 0 !important;
  top: 343px;
  left: 799px;
  z-index: 4;
}
.introduction {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 4;
}
.introduction-wrapper {
  width: 1188px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-25xl) var(--padding-sm);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-family: var(--font-raleway);
}
.introduction1 {
  width: 198px;
  position: absolute;
  margin: 0 !important;
  top: 9px;
  right: -62px;
  font-weight: 500;
  display: inline-block;
}
.ranking-titles {
  height: 47px;
  width: 156px;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightseagreen-300);
  border: 1px solid var(--color-lightseagreen-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl);
  position: relative;
  z-index: 4;
}
.frame-child1 {
  width: 39px;
  height: 0;
  position: relative;
  z-index: 5;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
}
.ranking-systems {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-lightseagreen-300);
  text-align: left;
}
.ranking-titles-parent,
.ranking-titles1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ranking-titles1 {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen-300);
  padding: var(--padding-6xs) var(--padding-lg) var(--padding-sm)
    var(--padding-lgi);
  background-color: var(--color-turquoise);
  border-radius: var(--br-31xl);
  white-space: nowrap;
  z-index: 3;
}
.benefits-of-esgi-wrapper:hover,
.issues-of-esg-ranking-wrapper:hover,
.ranking-titles1:hover {
  background-color: var(--color-lightseagreen-400);
  border: 1px solid var(--color-lightseagreen-100);
  box-sizing: border-box;
}
.ranking-titles-parent {
  padding: 0 var(--padding-19xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-12xs-5);
  max-width: 100%;
}
.benefits-of-esgi {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-lightseagreen-300);
  text-align: left;
  display: inline-block;
  min-width: 129px;
}
.benefits-of-esgi-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen-300);
  padding: var(--padding-6xs) var(--padding-base) var(--padding-sm)
    var(--padding-xl);
  background-color: var(--color-turquoise);
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 3;
}
.frame-child2 {
  width: 39px;
  height: 0;
  position: relative;
  flex-shrink: 0;
  z-index: 4;
}
.vector-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
}
.frame-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-wrapper1,
.issues-of-esg-ranking-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.issues-of-esg-ranking-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen-300);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-sm);
  background-color: var(--color-turquoise);
  border-radius: var(--br-31xl);
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.frame-div,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.frame-parent1 {
  align-items: flex-end;
  row-gap: 20px;
}
.frame-div {
  width: 1243px;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 101px;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--color-honeydew-100);
  font-family: var(--font-lato);
}
.supporting-text,
.supporting-text1 {
  position: relative;
  line-height: 150%;
  z-index: 4;
}
.supporting-text {
  width: 885px;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
}
.supporting-text1 {
  align-self: stretch;
  font-size: var(--font-size-15xl);
}
.supporting-text-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-14xl);
  max-width: 100%;
  font-size: var(--font-size-21xl);
}
.what-is-esg {
  font-family: var(--font-inter);
}
.what-is-esg-investing-its-an {
  margin: 0;
  font-size: inherit;
  padding-left: var(--padding-26xl);
}
.blank-line {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.what-the-pillars-include {
  margin: 0;
}
.supporting-text2 {
  width: 1252px;
  height: 537px;
  position: relative;
  font-size: var(--font-size-15xl);
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 4;
}
.frame-container,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-container {
  flex: 1;
  flex-direction: column;
  gap: 63px;
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-71xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.esg-investing-esg {
  margin-bottom: 0;
}
.esg-investing-esg-investing-i {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-26xl);
}
.supporting-text3 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
  z-index: 4;
}
.supporting-text-wrapper {
  width: 1144px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-div {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(11, 155, 133, 0.14),
    rgba(66, 179, 161, 0.15) 12.42%,
    rgba(240, 255, 248, 0.2)
  );
  width: 561px;
  z-index: 3;
}
.supporting-text4 {
  position: absolute;
  top: 2838px;
  left: 221px;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  width: 779px;
  height: 60px;
  z-index: 4;
}
.rectangle-parent1 {
  height: 4123px;
  width: 1000px;
  position: absolute;
  margin: 0 !important;
  top: -2921px;
  left: -217px;
}
.httpswwwyoutubecomwatch1 {
  text-decoration: underline;
}
.httpswwwyoutubecomwatch {
  color: inherit;
}
.supporting-text5 {
  width: 1252px;
  position: relative;
  font-size: var(--font-size-15xl);
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  max-height: 642px;
  word-break: break-word;
  z-index: 4;
}
.frame-parent3,
.frame-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  flex-direction: row;
  position: relative;
  font-size: var(--font-size-21xl);
}
.frame-parent3 {
  flex-direction: column;
  gap: 136px;
}
.go-to-the {
  flex: 1;
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  max-width: 100%;
}
.frame-wrapper2,
.go-to-the-esg-ranking-systems-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.go-to-the-esg-ranking-systems-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-teal-100);
  padding: var(--padding-6xs) var(--padding-lg) var(--padding-3xs)
    var(--padding-lgi);
  background-color: var(--color-honeydew-100);
  width: 596px;
  border-radius: var(--br-xl);
  justify-content: flex-start;
  z-index: 4;
}
.go-to-the-esg-ranking-systems-wrapper:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-lightseagreen-200);
  box-sizing: border-box;
}
.frame-wrapper2 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frame-section,
.intro,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-section {
  width: 1252px;
  flex-direction: column;
  gap: 271px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-15xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.intro,
.rectangle-container {
  position: relative;
  box-sizing: border-box;
}
.rectangle-container {
  flex: 1;
  background-color: var(--color-mintcream);
  flex-direction: column;
  padding: var(--padding-89xl) var(--padding-155xl) 220px 221px;
  gap: 687px;
  max-width: calc(100% - 143px);
  z-index: 2;
}
.intro {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-9xs) 0 var(--padding-61xl);
  gap: var(--gap-63xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-cornflowerblue);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .introduction-wrapper {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .frame-parent3 {
    gap: var(--gap-49xl);
  }
  .frame-section {
    gap: 135px;
  }
  .rectangle-container {
    gap: 343px;
    padding: var(--padding-26xl) var(--padding-68xl) var(--padding-74xl)
      var(--padding-91xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .text-here,
  .text-here1 {
    font-size: var(--font-size-5xl);
    line-height: 34px;
  }
  .intro-inner {
    display: none;
  }
  .introduction {
    font-size: var(--font-size-26xl);
    line-height: 81px;
  }
  .supporting-text {
    font-size: var(--font-size-13xl);
    line-height: 48px;
  }
  .supporting-text1,
  .supporting-text2,
  .supporting-text3 {
    font-size: var(--font-size-8xl);
    line-height: 41px;
  }
  .supporting-text4 {
    font-size: var(--font-size-13xl);
    line-height: 48px;
  }
  .supporting-text5 {
    font-size: var(--font-size-8xl);
    line-height: 41px;
  }
  .go-to-the {
    font-size: var(--font-size-13xl);
  }
  .rectangle-container {
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-41xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .intro {
    gap: var(--gap-22xl);
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .intro-inner {
    padding-top: var(--padding-116xl);
    box-sizing: border-box;
  }
  .ranking-titles-parent {
    flex-wrap: wrap;
  }
  .supporting-text-parent {
    gap: var(--gap-base);
  }
  .frame-container {
    gap: var(--gap-12xl);
  }
  .frame-parent3 {
    gap: var(--gap-15xl);
  }
  .frame-section {
    gap: var(--gap-49xl);
  }
  .rectangle-container {
    gap: 172px;
    padding: var(--padding-xl) var(--padding-24xl) var(--padding-20xl) 55px;
    box-sizing: border-box;
  }
  .intro {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .text-here,
  .text-here1 {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .introduction {
    font-size: var(--font-size-8xl);
    line-height: 54px;
  }
  .introduction1 {
    font-size: var(--font-size-base);
  }
  .supporting-text {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .supporting-text1,
  .supporting-text2 {
    font-size: var(--font-size-xl);
    line-height: 31px;
  }
  .frame-container {
    gap: var(--gap-base);
  }
  .supporting-text3 {
    font-size: var(--font-size-xl);
    line-height: 31px;
  }
  .supporting-text4 {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .supporting-text5 {
    font-size: var(--font-size-xl);
    line-height: 31px;
  }
  .frame-parent3 {
    gap: var(--gap-mid);
  }
  .go-to-the {
    font-size: var(--font-size-5xl);
  }
  .frame-section {
    gap: var(--gap-15xl);
  }
  .rectangle-container {
    gap: 86px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
