.finedventure {
  margin: 0;
  width: 30.125rem;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  display: inline-block;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  max-width: 100%;
}
.hello-again,
.sign-in-to {
  position: relative;
  text-align: left;
}
.hello-again {
  margin: 0;
  align-self: stretch;
  font-size: var(--font-size-16xl);
  line-height: 3.313rem;
  font-weight: 700;
  font-family: var(--font-raleway);
  color: rgba(10, 121, 104, 0.8);
}
.sign-in-to {
  font-size: var(--font-size-smi);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--main-text);
  display: inline-block;
  min-width: 6.438rem;
}
.app-sign-in {
  flex-direction: row;
  padding: 0 var(--padding-smi);
}
.app-sign-in,
.greeting,
.welcome-message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.greeting {
  width: 16.625rem;
  flex-direction: column;
  gap: 0.562rem;
}
.welcome-message {
  align-self: stretch;
  flex-direction: row;
}
.email {
  position: relative;
  font-size: var(--font-size-smi);
  display: inline-block;
  font-family: var(--font-lato);
  color: var(--main-text);
  text-align: left;
  min-width: 2.063rem;
}
.frame-child {
  height: 2.813rem;
  width: 32.563rem;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightsteelblue);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.type-your-email {
  width: 11.813rem;
  border: 0;
  outline: 0;
  font-family: var(--font-lato);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 1.188rem;
  position: relative;
  color: #959595;
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.input-label,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightsteelblue);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lgi);
}
.input-label {
  width: 32.563rem;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.password,
.type-your-password {
  font-family: var(--font-lato);
  position: relative;
  text-align: left;
  display: inline-block;
}
.password {
  font-size: var(--font-size-smi);
  color: var(--main-text);
  min-width: 3.563rem;
}
.type-your-password {
  width: 18.063rem;
  border: 0;
  outline: 0;
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 1.188rem;
  color: #8a8a8a;
  padding: 0;
  z-index: 1;
}
.input-label1,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-group {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightsteelblue);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-mid);
}
.input-label1 {
  width: 32.563rem;
  flex-direction: column;
  padding: 0 0 var(--padding-xs);
  gap: var(--gap-7xs);
}
.sign-in {
  position: relative;
  font-size: 0.938rem;
  line-height: 1rem;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 3.063rem;
}
.button,
.submit-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-6xl);
  background-color: rgba(10, 121, 104, 0.7);
  border-radius: 45px;
  overflow: hidden;
  white-space: nowrap;
}
.button:hover {
  background-color: rgba(48, 161, 143, 0.7);
}
.submit-button {
  align-self: stretch;
  padding: 0 var(--padding-smi);
}
.credentials-input,
.input-fields {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.credentials-input {
  margin: 0;
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.input-fields {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  min-width: 21.688rem;
}
.shape {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 1.5rem;
  filter: blur(100px);
  border-radius: 50%;
  background-color: rgba(10, 121, 104, 0.25);
  width: 20.688rem;
}
.image-19-icon {
  position: absolute;
  top: 2.063rem;
  left: 0;
  width: 22.5rem;
  height: 22.5rem;
  object-fit: cover;
  z-index: 1;
}
.illustration {
  height: 26.25rem;
  width: 22.5rem;
  position: relative;
  min-width: 22.5rem;
  max-width: 100%;
}
.sign-in-form {
  width: 60.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-49xl);
  max-width: 100%;
}
.sign-in-content,
.user-auth-sign-in {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.sign-in-content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 4.875rem;
  max-width: 100%;
}
.user-auth-sign-in {
  width: 100%;
  position: relative;
  background-color: var(--color-mintcream);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xl) var(--padding-26xl) 9.5rem;
  gap: var(--gap-58xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-teal-100);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 1050px) {
  .sign-in-content {
    padding-left: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 975px) {
  .finedventure {
    font-size: var(--font-size-5xl);
    line-height: 2.25rem;
  }
  .hello-again {
    font-size: var(--font-size-9xl);
    line-height: 2.625rem;
  }
  .illustration {
    flex: 1;
  }
  .sign-in-form {
    flex-wrap: wrap;
    gap: var(--gap-15xl);
  }
}
@media screen and (max-width: 725px) {
  .illustration,
  .input-fields {
    min-width: 100%;
  }
  .sign-in-form {
    gap: var(--gap-mid);
  }
  .user-auth-sign-in {
    gap: var(--gap-19xl);
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .finedventure {
    font-size: var(--font-size-lg);
    line-height: 1.688rem;
  }
  .hello-again {
    font-size: var(--font-size-2xl);
    line-height: 1.938rem;
  }
  .user-auth-sign-in {
    gap: var(--gap-lgi);
  }
}
