.textHere,
.textHere1 {
  width: 15rem;
  position: relative;
  line-height: 2.625rem;
  font-weight: 500;
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.textHere1 {
  color: var(--color-lavender);
}
.imageDownloadWrapper {
  height: 36.938rem;
  width: 3.813rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-188xl) 0 0;
  box-sizing: border-box;
}
.frameChild {
  width: 105.813rem;
  height: 161.875rem;
  position: relative;
  background-color: var(--color-mintcream);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.frameItem {
  width: 2.438rem;
  height: 0;
  position: absolute;
  margin: 0 !important;
  top: 21.438rem;
  left: 49.938rem;
  z-index: 4;
}
.benefitsOfEsg {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  z-index: 4;
}
.introduction {
  width: 12.375rem;
  position: absolute;
  margin: 0 !important;
  top: 0.563rem;
  right: -3.875rem;
  font-weight: 500;
  display: inline-block;
}
.headerItems {
  height: 2.938rem;
  width: 9.75rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-turquoise);
  border: 1px solid var(--color-lightseagreen-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl);
  position: relative;
  z-index: 4;
}
.headerDividerChild {
  width: 2.438rem;
  height: 0;
  position: relative;
  z-index: 5;
}
.headerDivider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
}
.rankingSystems {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-lightseagreen-300);
  text-align: left;
}
.headerItems1,
.headerItemsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.headerItems1 {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen-300);
  padding: var(--padding-6xs) var(--padding-lg) var(--padding-sm)
    var(--padding-lgi);
  background-color: var(--color-turquoise);
  border-radius: var(--br-31xl);
  white-space: nowrap;
  z-index: 3;
}
.detailsContent:hover,
.headerItems1:hover,
.issuesOfEsgRankingWrapper:hover {
  background-color: var(--color-lightseagreen-400);
  border: 1px solid var(--color-lightseagreen-100);
  box-sizing: border-box;
}
.headerItemsParent {
  padding: 0 var(--padding-19xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-12xs-5);
  max-width: 100%;
}
.benefitsOfEsgi {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-honeydew-100);
  text-align: left;
  display: inline-block;
  min-width: 8.063rem;
}
.detailsContent {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen-300);
  padding: var(--padding-6xs) var(--padding-base) var(--padding-sm)
    var(--padding-xl);
  background-color: var(--color-lightseagreen-300);
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.detailsContent:hover,
.issuesOfEsgRankingWrapper:hover {
  background-color: var(--color-lightseagreen-100);
}
.contentSeparatorChild {
  width: 2.438rem;
  height: 0;
  position: relative;
  z-index: 4;
}
.contentSeparator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
}
.benefitsContent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.benefitsDetails,
.issuesOfEsgRankingWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.issuesOfEsgRankingWrapper {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen-300);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-sm);
  background-color: var(--color-turquoise);
  border-radius: var(--br-31xl);
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.issuesOfEsgRankingWrapper:hover {
  background-color: var(--color-lightseagreen-400);
}
.benefitsTitleInner,
.frameParent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.frameParent {
  align-items: flex-end;
  row-gap: 20px;
}
.benefitsTitleInner {
  width: 65.313rem;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-lightseagreen-300);
  font-family: var(--font-lato);
}
.benefitsTitle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-58xl);
  max-width: 100%;
}
.benefits,
.benefitsTitleWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.benefitsTitleWrapper {
  width: 74.25rem;
  flex-direction: row;
  padding: 0 var(--padding-25xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-71xl);
  color: var(--color-black);
  font-family: var(--font-raleway);
}
.benefits,
.rectangleParent {
  position: relative;
}
.rectangleParent {
  flex: 1;
  background-color: var(--color-mintcream);
  flex-direction: column;
  padding: var(--padding-89xl) var(--padding-155xl) var(--padding-91xl)
    var(--padding-206xl);
  gap: 10.25rem;
  max-width: calc(100% - 143px);
  z-index: 2;
}
.benefits {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-9xs) 0 var(--padding-61xl);
  gap: var(--gap-63xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-cornflowerblue);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .frameParent {
    flex-wrap: wrap;
  }
  .benefitsTitle {
    gap: var(--gap-19xl);
  }
  .benefitsTitleWrapper {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .rectangleParent {
    gap: var(--gap-63xl);
    padding: var(--padding-26xl) var(--padding-68xl) var(--padding-27xl)
      var(--padding-93xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .textHere,
  .textHere1 {
    font-size: var(--font-size-5xl);
    line-height: 2.125rem;
  }
  .imageDownloadWrapper {
    display: none;
  }
  .benefitsOfEsg {
    font-size: var(--font-size-26xl);
    line-height: 5.063rem;
  }
  .rectangleParent {
    max-width: 100%;
  }
  .benefits {
    gap: var(--gap-22xl);
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .imageDownloadWrapper {
    padding-top: var(--padding-116xl);
    box-sizing: border-box;
  }
  .headerItemsParent {
    flex-wrap: wrap;
  }
  .benefitsTitle {
    gap: var(--gap-lgi);
  }
  .rectangleParent {
    gap: var(--gap-22xl);
    padding: var(--padding-10xl) var(--padding-24xl) var(--padding-11xl)
      var(--padding-37xl);
    box-sizing: border-box;
  }
  .benefits {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .textHere,
  .textHere1 {
    font-size: var(--font-size-lg);
    line-height: 1.563rem;
  }
  .benefitsOfEsg {
    font-size: var(--font-size-8xl);
    line-height: 3.375rem;
  }
  .introduction {
    font-size: var(--font-size-base);
  }
  .rectangleParent {
    gap: var(--gap-xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
