.textHere {
  width: 15rem;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.leftPane {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 var(--padding-7xs);
}
.download7RemovebgPreviewIcon {
  height: 2.75rem;
  width: 2.875rem;
  position: relative;
  object-fit: cover;
}
.downloads {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 var(--padding-5xs);
}
.downloadRemovebgPreview2 {
  height: 3.25rem;
  width: 3.813rem;
  position: relative;
  object-fit: cover;
}
.downloadsTwo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.removebgPreview1Icon {
  height: 3rem;
  width: 3rem;
  position: relative;
  object-fit: cover;
}
.downloadsFour {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 var(--padding-11xs);
}
.midPane {
  gap: var(--gap-43xl);
}
.content,
.main,
.midPane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  gap: var(--gap-49xl);
}
.main {
  padding: 12.562rem 0 0;
}
.rightPaneChild {
  width: 105.813rem;
  height: 150.563rem;
  position: relative;
  background-color: var(--color-mintcream);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.rightPaneItem {
  width: 2.438rem;
  height: 0;
  position: absolute;
  margin: 0 !important;
  top: 21.438rem;
  left: 49.938rem;
  z-index: 3;
}
.supportingText {
  margin: 0;
  width: 55.313rem;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}
.supportVisual {
  height: 150.438rem;
  width: 35.063rem;
  position: absolute;
  margin: 0 !important;
  top: -38.875rem;
  left: -13.812rem;
  background: linear-gradient(
    90deg,
    rgba(11, 155, 133, 0.14),
    rgba(66, 179, 161, 0.15) 12.42%,
    rgba(240, 255, 248, 0.2)
  );
  z-index: 2;
}
.rankingScoreDivergence {
  font-family: var(--font-inter);
}
.rankingScoreDivergenceTher {
  margin: 0;
  font-size: inherit;
  padding-left: var(--padding-26xl);
}
.blankLine {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.httpswwwyoutubecomwatch1 {
  text-decoration: underline;
}
.httpswwwyoutubecomwatch {
  color: inherit;
}
.rankingScoreDivergenceVideo {
  margin: 0;
}
.supportingText1 {
  margin: 0;
  height: 100.125rem;
  width: 80.875rem;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100.125rem;
  word-break: break-word;
  z-index: 3;
  font-family: inherit;
}
.issues,
.rightPane,
.supportVisualParent {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-inter);
}
.supportVisualParent {
  flex-direction: row;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-15xl);
  color: var(--color-black);
}
.issues,
.rightPane {
  box-sizing: border-box;
}
.rightPane {
  background-color: var(--color-mintcream);
  flex-direction: column;
  padding: var(--padding-80xl) var(--padding-155xl) var(--padding-164xl)
    var(--padding-206xl);
  gap: var(--gap-14xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.issues {
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-9xs) 0 var(--padding-61xl);
  gap: var(--gap-63xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-cornflowerblue);
}
@media screen and (max-width: 1825px) {
  .issues {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .issues,
  .rightPane {
    box-sizing: border-box;
  }
  .rightPane {
    padding: 2.625rem var(--padding-68xl) var(--padding-58xl)
      var(--padding-93xl);
  }
  .issues {
    gap: var(--gap-22xl);
    padding-left: var(--padding-21xl);
  }
}
@media screen and (max-width: 925px) {
  .textHere {
    font-size: var(--font-size-5xl);
    line-height: 2.25rem;
  }
  .main {
    padding-top: var(--padding-112xl);
    box-sizing: border-box;
  }
  .supportingText {
    font-size: var(--font-size-13xl);
    line-height: 3rem;
  }
  .supportingText1 {
    font-size: var(--font-size-8xl);
    line-height: 2.563rem;
  }
  .rightPane {
    gap: var(--gap-base);
    padding: 1.688rem var(--padding-24xl) var(--padding-31xl)
      var(--padding-37xl);
    box-sizing: border-box;
  }
  .issues {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .textHere {
    font-size: var(--font-size-lg);
    line-height: 1.688rem;
  }
  .supportingText {
    font-size: var(--font-size-5xl);
    line-height: 2.25rem;
  }
  .supportingText1 {
    font-size: var(--font-size-xl);
    line-height: 1.938rem;
  }
  .rightPane {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
