.login {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  white-space: pre-wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loginWrapper {
  position: absolute;
  top: 0.938rem;
  left: 3.313rem;
  width: 7.5rem;
  height: 1.188rem;
}
.frameChild,
.profil {
  position: relative;
  display: none;
}
.profil {
  width: 10.813rem;
  height: 3rem;
  z-index: 0;
}
.frameChild {
  width: 120rem;
  height: 59.563rem;
  background: linear-gradient(180deg, #f0fff8, rgba(156, 224, 213, 0.6));
  max-width: 100%;
}
.frameGroup,
.frameParent,
.rectangleParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  background: linear-gradient(180deg, #f0fff8, rgba(156, 224, 213, 0.6));
  padding: var(--padding-34xl) var(--padding-37xl) var(--padding-34xl)
    var(--padding-62xl);
  gap: 12.062rem;
}
.frameGroup,
.frameParent {
  padding: 0 0 1.462rem;
}
.frameParent {
  align-items: flex-end;
  padding: 0 0 53.375rem;
  flex-shrink: 0;
}
.frameInner,
.frameItem {
  position: absolute;
  object-fit: contain;
}
.frameItem {
  top: 52.8rem;
  left: 14.938rem;
  width: 94.775rem;
  height: 83.269rem;
}
.frameInner {
  top: 0;
  left: -5.406rem;
  width: 153.494rem;
  height: 56.775rem;
  z-index: 1;
}
.image12Icon {
  position: absolute;
  top: 9.544rem;
  left: 65.5rem;
  width: 32.813rem;
  height: 10.544rem;
  object-fit: cover;
  z-index: 2;
}
.vectorParent {
  width: 100%;
  height: 136.069rem;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -212.712rem;
  left: 0;
}
.image8Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.teamPhotos {
  height: 14.5rem;
  width: 34rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-16xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.image10Icon,
.image9Icon {
  position: relative;
  max-width: 100%;
  object-fit: cover;
}
.image9Icon {
  width: 31.438rem;
  max-height: 100%;
}
.image10Icon {
  align-self: stretch;
  height: 9.188rem;
  overflow: hidden;
  flex-shrink: 0;
}
.image10Wrapper,
.teamPhotosParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.image10Wrapper {
  height: 11.875rem;
  width: 36.063rem;
  flex-direction: column;
  align-items: flex-start;
}
.teamPhotosParent {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-46xl);
  flex-shrink: 0;
}
.ourTeam,
.teamIntro {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.teamIntro {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-43xl);
  max-width: 100%;
}
.ourTeam {
  width: 100%;
  height: 212rem;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 39.062rem;
  gap: 43.875rem;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-teal);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1825px) {
  .teamPhotosParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .rectangleParent {
    gap: 6rem;
    padding: var(--padding-15xl) var(--padding-9xl) var(--padding-15xl)
      var(--padding-21xl);
    box-sizing: border-box;
  }
  .frameParent {
    padding-bottom: 22.563rem;
    box-sizing: border-box;
  }
  .teamIntro {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .ourTeam {
    height: auto;
    gap: 21.938rem;
  }
}
@media screen and (max-width: 925px) {
  .rectangleParent {
    gap: 3rem;
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .frameParent {
    padding-bottom: 14.688rem;
    box-sizing: border-box;
  }
  .teamPhotosParent {
    gap: var(--gap-13xl);
  }
  .ourTeam {
    gap: var(--gap-156xl);
  }
}
@media screen and (max-width: 450px) {
  .teamPhotosParent {
    gap: var(--gap-base);
  }
}
