.textHere,
.textHere1 {
  width: 15rem;
  position: relative;
  line-height: 2.625rem;
  font-weight: 500;
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.textHere1 {
  color: var(--color-lavender);
}
.page {
  height: 36.938rem;
  width: 3.813rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12.062rem 0 0;
  box-sizing: border-box;
}
.frameChild {
  width: 105.813rem;
  height: 210.063rem;
  position: relative;
  background-color: var(--color-mintcream);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.frameItem {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(11, 155, 133, 0.14),
    rgba(66, 179, 161, 0.15) 12.42%,
    rgba(240, 255, 248, 0.2)
  );
  width: 35.063rem;
  z-index: 3;
}
.frameChild1,
.frameInner,
.lineIcon {
  position: absolute;
  top: 21.25rem;
  left: 49.688rem;
  width: 2.438rem;
  height: 0;
  z-index: 4;
}
.frameChild1,
.lineIcon {
  top: 21.313rem;
  left: 62.563rem;
}
.frameChild1 {
  left: 36.438rem;
  z-index: 6;
}
.image2Icon {
  position: absolute;
  top: 70.75rem;
  left: 15.75rem;
  width: 75rem;
  height: 36.35rem;
  object-fit: cover;
  z-index: 4;
}
.rectangleGroup {
  width: 90.75rem;
  height: 257.688rem;
  position: absolute;
  margin: 0 !important;
  bottom: -47.812rem;
  left: 0.25rem;
}
.ranking,
.rectangleParent {
  position: relative;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangleParent {
  flex: 1;
  background-color: var(--color-mintcream);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-89xl) var(--padding-155xl) var(--padding-164xl);
  gap: 43.75rem;
  max-width: calc(100% - 143px);
  z-index: 2;
}
.ranking {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-11xs) var(--padding-9xs) 0 var(--padding-61xl);
  gap: var(--gap-63xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-cornflowerblue);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    gap: 21.875rem;
    padding: var(--padding-26xl) var(--padding-68xl) var(--padding-58xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .textHere,
  .textHere1 {
    font-size: var(--font-size-5xl);
    line-height: 2.125rem;
  }
  .page {
    display: none;
  }
  .rectangleParent {
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .ranking {
    gap: var(--gap-22xl);
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .page {
    padding-top: 7.813rem;
    box-sizing: border-box;
  }
  .rectangleParent {
    gap: var(--gap-156xl);
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }
  .ranking {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .textHere,
  .textHere1 {
    font-size: var(--font-size-lg);
    line-height: 1.563rem;
  }
  .rectangleParent {
    gap: 5.438rem;
    padding: var(--padding-xl) var(--padding-xl) var(--padding-13xl);
    box-sizing: border-box;
  }
}
