.rankingSystems {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  z-index: 4;
}
.introduction {
  width: 12.375rem;
  position: absolute;
  margin: 0 !important;
  top: 0.563rem;
  right: -3.875rem;
  font-weight: 500;
  display: inline-block;
}
.introductionContent,
.introductionContentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.introductionContent {
  align-self: stretch;
  height: 2.938rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-turquoise);
  border: 1px solid var(--color-lightseagreen-300);
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-xl);
  position: relative;
  z-index: 4;
}
.introductionContentWrapper {
  width: 9.963rem;
  flex-direction: column;
  padding: 0 var(--padding-10xs) 0 0;
}
.rankingSystems1 {
  width: 12.375rem;
  position: absolute;
  margin: 0 !important;
  top: 0.563rem;
  right: -1.75rem;
  font-weight: 500;
  display: inline-block;
}
.rankingSystemsWrapper {
  height: 2.938rem;
  width: 11.875rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightseagreen-300);
  border: 1px solid var(--color-lightseagreen-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl);
  position: relative;
  white-space: nowrap;
  z-index: 5;
  color: var(--color-honeydew-100);
}
.benefitsOfEsgi {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-lightseagreen-300);
  text-align: left;
  display: inline-block;
  min-width: 8.063rem;
}
.benefitsContent {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen-300);
  padding: var(--padding-6xs) var(--padding-base) var(--padding-sm)
    var(--padding-xl);
  background-color: var(--color-turquoise);
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.benefitsContent:hover,
.issuesOfEsgRankingWrapper:hover {
  background-color: var(--color-lightseagreen-400);
  border: 1px solid var(--color-lightseagreen-100);
  box-sizing: border-box;
}
.benefitsContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs) var(--padding-12xs) 0;
}
.issuesOfEsg {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-lightseagreen-300);
  text-align: left;
}
.issuesOfEsgRankingWrapper {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen-300);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-sm);
  background-color: var(--color-turquoise);
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.esgiIssuesTitle,
.esgiIssuesTitleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.esgiIssuesTitle {
  align-items: flex-end;
  gap: var(--gap-9xl-6);
}
.esgiIssuesTitleWrapper {
  width: 65.313rem;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-lightseagreen-300);
  font-family: var(--font-lato);
}
.rankingContent,
.rankingSystemsParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rankingSystemsParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-58xl);
}
.rankingContent {
  width: 74.25rem;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-25xl) var(--padding-41xl);
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font-raleway);
}
.supportingText {
  width: 55.313rem;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  z-index: 4;
}
.esgRankingsAgencies {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.supportingText1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-15xl);
  line-height: 150%;
  z-index: 4;
}
.supportingTextParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-14xl);
  max-width: 100%;
  font-size: var(--font-size-21xl);
}
.supportingText2 {
  align-self: stretch;
  height: 5.25rem;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 4;
}
.varietyOver600AgenciesWor {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-26xl);
}
.supportingText3 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
  z-index: 5;
}
.content,
.supportingTextGroup,
.supportingTextWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.supportingTextWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.content,
.supportingTextGroup {
  width: 78.563rem;
  flex-direction: column;
  font-size: var(--font-size-15xl);
}
.content {
  width: 80.875rem;
  gap: var(--gap-85xl);
  text-align: left;
  font-size: var(--font-size-71xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .esgiIssuesTitle {
    flex-wrap: wrap;
  }
  .rankingSystemsParent {
    gap: var(--gap-19xl);
  }
  .rankingContent {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .rankingSystems {
    font-size: var(--font-size-26xl);
    line-height: 5.063rem;
  }
  .supportingText {
    font-size: var(--font-size-13xl);
    line-height: 3rem;
  }
  .supportingText1,
  .supportingText2,
  .supportingText3 {
    font-size: var(--font-size-8xl);
    line-height: 2.563rem;
  }
}
@media screen and (max-width: 750px) {
  .rankingSystemsParent {
    gap: var(--gap-lgi);
  }
  .supportingTextParent {
    gap: var(--gap-base);
  }
  .content {
    gap: var(--gap-33xl);
  }
}
@media screen and (max-width: 450px) {
  .rankingSystems {
    font-size: var(--font-size-8xl);
    line-height: 3.375rem;
  }
  .introduction {
    font-size: var(--font-size-base);
  }
  .supportingText {
    font-size: var(--font-size-5xl);
    line-height: 2.25rem;
  }
  .supportingText1,
  .supportingText2,
  .supportingText3 {
    font-size: var(--font-size-xl);
    line-height: 1.938rem;
  }
  .content {
    gap: var(--gap-7xl);
  }
}
