.file22Wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 var(--padding-9xs);
}
.download7RemovebgPreviewIcon {
  height: 2.75rem;
  width: 2.875rem;
  position: relative;
  object-fit: cover;
}
.download7RemovebgPreviewWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 var(--padding-7xs);
}
.downloadRemovebgPreview2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.removebgPreview1Icon {
  height: 3rem;
  width: 3rem;
  position: relative;
  object-fit: cover;
}
.download,
.removebgPreview1Wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.removebgPreview1Wrapper {
  flex-direction: row;
  padding: 0 var(--padding-6xs) 0 var(--padding-7xs);
}
.download {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-49xl-7);
}
