.issuesOfEsg {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  z-index: 3;
}
.introduction {
  width: 12.375rem;
  position: absolute;
  margin: 0 !important;
  top: 0.563rem;
  right: -3.875rem;
  font-weight: 500;
  display: inline-block;
}
.introHeaderItems {
  height: 2.938rem;
  width: 9.75rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-turquoise);
  border: 1px solid var(--color-lightseagreen-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl);
  position: relative;
  z-index: 3;
}
.introDividerChild {
  width: 2.438rem;
  height: 0;
  position: relative;
  z-index: 4;
}
.introDivider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
}
.rankingSystems {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-lightseagreen-300);
  text-align: left;
}
.introHeader,
.introHeaderItems1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.introHeaderItems1 {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen-300);
  padding: var(--padding-6xs) var(--padding-lg) var(--padding-sm)
    var(--padding-lgi);
  background-color: var(--color-turquoise);
  border-radius: var(--br-31xl);
  white-space: nowrap;
  z-index: 2;
}
.benefitsItem:hover,
.introHeaderItems1:hover,
.issuesOfEsgRankingWrapper:hover {
  background-color: var(--color-lightseagreen-400);
  border: 1px solid var(--color-lightseagreen-100);
  box-sizing: border-box;
}
.introHeader {
  padding: 0 var(--padding-19xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-12xs-5);
  max-width: 100%;
}
.benefitsOfEsgi {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-lightseagreen-300);
  text-align: left;
  display: inline-block;
  min-width: 8.063rem;
}
.benefitsItem {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen-300);
  padding: var(--padding-6xs) var(--padding-base) var(--padding-sm)
    var(--padding-xl);
  background-color: var(--color-turquoise);
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 2;
}
.benefitsDividerChild {
  width: 2.438rem;
  height: 0;
  position: relative;
  flex-shrink: 0;
  z-index: 3;
}
.benefitsDivider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
}
.benefitsContent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.benefitsContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.issuesOfEsg1 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-honeydew-100);
  text-align: left;
}
.issuesOfEsgRankingWrapper {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen-300);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-sm);
  background-color: var(--color-lightseagreen-300);
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.issuesOfEsgRankingWrapper:hover {
  background-color: var(--color-lightseagreen-100);
}
.introHeaderParent,
.titleContentInner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.introHeaderParent {
  align-items: flex-end;
  row-gap: 20px;
}
.titleContentInner {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-lightseagreen-300);
  font-family: var(--font-lato);
}
.titleContent,
.titleContentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.titleContent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-82xl);
}
.titleContentWrapper {
  width: 77.688rem;
  flex-direction: row;
  padding: 0 var(--padding-mini) var(--padding-112xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-61xl);
  color: var(--color-black);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 1350px) {
  .introHeaderParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 925px) {
  .issuesOfEsg {
    font-size: var(--font-size-21xl);
    line-height: 4.5rem;
  }
  .introHeader {
    flex-wrap: wrap;
  }
  .titleContent {
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 450px) {
  .issuesOfEsg {
    font-size: var(--font-size-5xl);
    line-height: 3rem;
  }
  .introduction {
    font-size: var(--font-size-base);
  }
  .titleContent {
    gap: var(--gap-6xl);
  }
  .titleContentWrapper {
    padding-bottom: var(--padding-66xl);
    box-sizing: border-box;
  }
}
