.finedventure,
.ourTeam {
  position: relative;
  display: inline-block;
}
.finedventure {
  margin: 0;
  width: 482px;
  font-size: inherit;
  line-height: 83px;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
  white-space: nowrap;
  max-width: 100%;
  z-index: 1;
}
.ourTeam {
  text-decoration: none;
  width: 135px;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-mintcream);
  text-align: right;
}
.teamLiteracyInvestments {
  cursor: pointer;
  border: 1px solid var(--color-teal);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-2xs);
  background-color: var(--color-teal);
  width: 180px;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.businessCompetitonsWrapper:hover,
.teamLiteracyInvestments1:hover,
.teamLiteracyInvestments:hover {
  background-color: var(--color-lightseagreen-200);
  border: 1px solid var(--color-lightseagreen-200);
  box-sizing: border-box;
}
.financialLiteracy {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal);
  text-align: left;
  white-space: nowrap;
}
.teamLiteracyInvestments1 {
  cursor: pointer;
  border: 1px solid var(--color-teal);
  padding: var(--padding-6xs) var(--padding-base) var(--padding-2xs)
    var(--padding-lgi);
  background-color: var(--color-honeydew-100);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.businessCompetitonsWrapper:hover,
.teamLiteracyInvestments1:hover {
  background-color: var(--color-gainsboro-200);
}
.businessCompetitons {
  width: 309px;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
}
.businessCompetitonsWrapper {
  cursor: pointer;
  border: 1px solid var(--color-teal);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-2xs);
  background-color: var(--color-honeydew-100);
  align-self: stretch;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.finLiteracyContainerInner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.investments {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.teamLiteracyInvestments2 {
  border-radius: var(--br-xl);
  background-color: var(--color-honeydew-100);
  border: 1px solid var(--color-teal);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-mini) var(--padding-2xs)
    var(--padding-lgi);
  z-index: 1;
}
.frameChild {
  height: 100%;
  width: 150px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-20xl);
  background-color: var(--color-paleturquoise);
  z-index: 1;
}
.file27 {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 25px;
  height: 26px;
  object-fit: cover;
  z-index: 3;
}
.memojivariant12Parent {
  height: 48px;
  width: 48px;
  position: relative;
}
.login {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
  z-index: 2;
}
.loginWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
}
.rectangleParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-8xs);
}
.finLiteracyContainerChild {
  width: 173px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.finLiteracyContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-18xl);
  max-width: 100%;
}
.finLiteracyContainerWrapper,
.finedventureParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.finLiteracyContainerWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  margin-left: -35px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-lato);
}
.finedventureParent {
  align-self: stretch;
  flex-direction: row;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-36xl);
  color: var(--color-teal);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 1825px) {
  .businessCompetitons,
  .login,
  .loginWrapper {
    display: none;
  }
}
@media screen and (max-width: 925px) {
  .finLiteracyContainer {
    gap: var(--gap-lg);
  }
}
