.ourTeam {
  text-decoration: none;
  width: 8.438rem;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal);
  text-align: right;
  display: inline-block;
}
.finedventure,
.ourTeamWrapper {
  position: absolute;
  white-space: nowrap;
}
.ourTeamWrapper {
  cursor: pointer;
  border: 1px solid var(--color-teal);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-2xs);
  background-color: var(--color-honeydew-100);
  top: 0.813rem;
  left: 27.938rem;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 11.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.businessCompetitonsWrapper:hover,
.financialLiteracyWrapper:hover,
.ourTeamWrapper:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-lightseagreen-200);
  box-sizing: border-box;
}
.finedventure {
  margin: 0;
  height: 100%;
  top: 0;
  left: 0;
  font-size: inherit;
  line-height: 5.188rem;
  display: inline-block;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  width: 30.125rem;
  z-index: 2;
}
.frameGroup {
  height: 5.188rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  font-family: var(--font-raleway);
}
.financialLiteracy {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-honeydew-100);
  text-align: left;
  white-space: nowrap;
}
.financialLiteracyWrapper,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.financialLiteracyWrapper {
  cursor: pointer;
  border: 1px solid var(--color-teal);
  padding: var(--padding-6xs) var(--padding-base) var(--padding-2xs)
    var(--padding-lgi);
  background-color: var(--color-teal);
  border-radius: var(--br-xl);
  flex-direction: row;
  white-space: nowrap;
  z-index: 1;
}
.businessCompetitonsWrapper:hover,
.financialLiteracyWrapper:hover {
  background-color: var(--color-lightseagreen-200);
}
.frameWrapper {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
}
.businessCompetitons {
  width: 19.313rem;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-teal);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
}
.businessCompetitonsWrapper,
.frameContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.businessCompetitonsWrapper {
  cursor: pointer;
  border: 1px solid var(--color-teal);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-2xs);
  background-color: var(--color-honeydew-100);
  align-self: stretch;
  border-radius: var(--br-xl);
  flex-direction: row;
  white-space: nowrap;
  z-index: 1;
}
.businessCompetitonsWrapper:hover {
  background-color: var(--color-gainsboro-200);
}
.frameContainer {
  width: 23.188rem;
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.investments {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.frameDiv,
.investmentsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.investmentsWrapper {
  border-radius: var(--br-xl);
  background-color: var(--color-honeydew-100);
  border: 1px solid var(--color-teal);
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-mini) var(--padding-2xs)
    var(--padding-lgi);
  z-index: 1;
}
.frameDiv {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  font-size: var(--font-size-11xl);
}
.frameChild {
  height: 100%;
  width: 9.375rem;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-20xl);
  background-color: var(--color-paleturquoise);
  z-index: 1;
}
.file27 {
  position: absolute;
  top: 0.688rem;
  left: 0.688rem;
  width: 1.563rem;
  height: 1.625rem;
  object-fit: cover;
  z-index: 3;
}
.memojivariant12Parent {
  height: 3rem;
  width: 3rem;
  position: relative;
}
.login {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
  z-index: 2;
}
.loginWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
}
.rectangleParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-8xs);
}
.frameParent,
.frameWrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper1 {
  width: 10.813rem;
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-18xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-36xl);
  color: var(--color-teal);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1800px) {
  .businessCompetitons,
  .login,
  .loginWrapper {
    display: none;
  }
}
@media screen and (max-width: 925px) {
  .frameParent {
    gap: var(--gap-lg);
  }
}
