.memoji,
.memojivariant12 {
  position: absolute;
  top: 0;
  left: 0;
}
.memoji {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
}
.memojivariant12 {
  border-radius: var(--br-980xl);
  background-color: var(--color-teal);
  width: 48px;
  height: 48px;
  overflow: hidden;
}
