@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-raleway: Raleway;
  --font-lato: Lato;
  --font-inter: Inter;

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-136xl: 155px;
  --font-size-20xl: 39px;
  --font-size-43xl: 62px;
  --font-size-151xl: 170px;
  --font-size-23xl: 42px;
  --font-size-49xl: 68px;
  --font-size-81xl: 100px;
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;
  --font-size-xl: 20px;
  --font-size-6xl: 25px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-36xl: 55px;
  --font-size-41xl: 60px;
  --font-size-26xl: 45px;
  --font-size-34xl: 53px;
  --font-size-16xl: 35px;
  --font-size-9xl: 28px;
  --font-size-2xl: 21px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-8xl: 27px;
  --font-size-15xl: 34px;
  --font-size-71xl: 90px;
  --font-size-61xl: 80px;

  /* Colors */
  --color-white: #fff;
  --color-teal: #0a7968;
  --color-mintcream: #f0fff8;
  --color-darkslategray: #02362e;
  --color-paleturquoise: rgba(156, 224, 213, 0.6);
  --color-honeydew-100: #ecfff6;
  --color-gainsboro-100: #d4e6de;
  --color-gainsboro-200: #d4e6db;
  --color-lightseagreen-100: #24b59e;
  --color-lightseagreen-200: #30a18f;
  --color-lightseagreen-300: #0b9b85;
  --color-lightseagreen-400: rgba(23, 186, 161, 0.1);
  --color-dimgray-100: #616161;
  --color-black: #000;
  --color-turquoise: rgba(73, 237, 211, 0.1);
  --color-lavender: #dbe5fc;
  --color-cornflowerblue: #588fef;

  /* Gaps */
  --gap-156xl: 175px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-46xl: 65px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-3xl-4: 22.4px;
  --gap-65xl: 84px;
  --gap-23xl: 42px;
  --gap-30xl: 49px;
  --gap-5xl: 24px;
  --gap-4xl: 23px;
  --gap-4xl-4: 23.4px;
  --gap-18xl: 37px;
  --gap-lg: 18px;
  --gap-8xs: 5px;
  --gap-20xl: 39px;
  --gap-60xl: 79px;
  --gap-27xl: 46px;
  --gap-41xl: 60px;
  --gap-7xl: 26px;
  --gap-lgi: 19px;
  --gap-14xl: 33px;
  --gap-12xl: 31px;
  --gap-47xl: 66px;
  --gap-93xl: 112px;
  --gap-37xl: 56px;
  --gap-9xl: 28px;
  --gap-14xl-6: 33.6px;
  --gap-mid: 17px;
  --gap-9xl-6: 28.6px;
  --gap-92xl: 111px;
  --gap-36xl: 55px;
  --gap-63xl: 82px;
  --gap-22xl: 41px;
  --gap-110xl: 129px;
  --gap-45xl: 64px;
  --gap-144xl: 163px;
  --gap-62xl: 81px;
  --gap-85xl: 104px;
  --gap-33xl: 52px;
  --gap-58xl: 77px;
  --gap-19xl: 38px;
  --gap-49xl-7: 68.7px;
  --gap-70xl: 89px;
  --gap-3xl: 22px;
  --gap-25xl: 44px;
  --gap-12xs-5: 0.5px;
  --gap-252xl: 271px;
  --gap-116xl: 135px;
  --gap-15xl: 34px;
  --gap-49xl: 68px;
  --gap-117xl: 136px;
  --gap-44xl: 63px;
  --gap-43xl: 62px;
  --gap-82xl: 101px;
  --gap-6xl: 25px;
  --gap-31xl: 50px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-229xl: 248px;
  --padding-sm: 14px;
  --padding-134xl: 153px;
  --padding-142xl: 161px;
  --padding-80xl: 99px;
  --padding-130xl: 149px;
  --padding-214xl: 233px;
  --padding-158xl: 177px;
  --padding-132xl: 151px;
  --padding-96xl: 115px;
  --padding-121xl: 140px;
  --padding-108xl: 127px;
  --padding-64xl: 83px;
  --padding-43xl: 62px;
  --padding-12xl: 31px;
  --padding-16xl: 35px;
  --padding-20xl: 39px;
  --padding-5xl: 24px;
  --padding-7xl: 26px;
  --padding-3xs: 10px;
  --padding-40xl: 59px;
  --padding-188xl: 207px;
  --padding-54xl: 73px;
  --padding-213xl: 232px;
  --padding-6xl: 25px;
  --padding-32xl: 51px;
  --padding-39xl: 58px;
  --padding-19xl: 38px;
  --padding-84xl: 103px;
  --padding-28xl: 47px;
  --padding-97xl: 116px;
  --padding-75xl: 94px;
  --padding-42xl: 61px;
  --padding-9xs: 4px;
  --padding-2xs: 11px;
  --padding-2xl: 21px;
  --padding-14xl: 33px;
  --padding-xl-4: 20.4px;
  --padding-mid: 17px;
  --padding-lgi-6: 19.6px;
  --padding-smi: 13px;
  --padding-4xl: 23px;
  --padding-lgi: 19px;
  --padding-34xl: 53px;
  --padding-37xl: 56px;
  --padding-62xl: 81px;
  --padding-3xl: 22px;
  --padding-15xl: 34px;
  --padding-9xl: 28px;
  --padding-21xl: 40px;
  --padding-8xs: 5px;
  --padding-mini: 15px;
  --padding-6xs: 7px;
  --padding-11xs: 2px;
  --padding-base: 16px;
  --padding-11xl: 30px;
  --padding-10xs: 3px;
  --padding-41xl: 60px;
  --padding-10xl: 29px;
  --padding-27xl: 46px;
  --padding-74xl: 93px;
  --padding-13xl: 32px;
  --padding-12xs: 1px;
  --padding-lg: 18px;
  --padding-24xl: 43px;
  --padding-4xs: 9px;
  --padding-61xl: 80px;
  --padding-89xl: 108px;
  --padding-155xl: 174px;
  --padding-164xl: 183px;
  --padding-26xl: 45px;
  --padding-68xl: 87px;
  --padding-58xl: 77px;
  --padding-31xl: 50px;
  --padding-25xl: 44px;
  --padding-7xs: 6px;
  --padding-91xl: 110px;
  --padding-206xl: 225px;
  --padding-93xl: 112px;
  --padding-210xl: 229px;
  --padding-78xl: 97px;
  --padding-116xl: 135px;
  --padding-5xs: 8px;
  --padding-xs: 12px;
  --padding-82xl: 101px;
  --padding-112xl: 131px;
  --padding-66xl: 85px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-980xl: 999px;
  --br-20xl: 39px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-138xl-5: 157.5px;
  --br-mini: 15px;
  --br-31xl: 50px;
}
