@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-raleway: Raleway;
  --font-lato: Lato;
  --font-inter: Inter;

  /* font sizes */
  --font-size-21xl: 2.5rem;
  --font-size-5xl: 1.5rem;
  --font-size-13xl: 2rem;
  --font-size-136xl: 9.688rem;
  --font-size-20xl: 2.438rem;
  --font-size-43xl: 3.875rem;
  --font-size-151xl: 10.625rem;
  --font-size-23xl: 2.625rem;
  --font-size-49xl: 4.25rem;
  --font-size-81xl: 6.25rem;
  --font-size-11xl: 1.875rem;
  --font-size-31xl: 3.125rem;
  --font-size-xl: 1.25rem;
  --font-size-6xl: 1.563rem;
  --font-size-lg: 1.125rem;
  --font-size-base: 1rem;
  --font-size-36xl: 3.438rem;
  --font-size-41xl: 3.75rem;
  --font-size-26xl: 2.813rem;
  --font-size-34xl: 3.313rem;
  --font-size-16xl: 2.188rem;
  --font-size-9xl: 1.75rem;
  --font-size-2xl: 1.313rem;
  --font-size-17xl: 2.25rem;
  --font-size-10xl: 1.813rem;
  --font-size-3xl: 1.375rem;
  --font-size-8xl: 1.688rem;
  --font-size-15xl: 2.125rem;
  --font-size-71xl: 5.625rem;
  --font-size-61xl: 5rem;

  /* Colors */
  --color-white: #fff;
  --color-teal: #0a7968;
  --color-mintcream: #f0fff8;
  --color-darkslategray: #02362e;
  --color-paleturquoise: rgba(156, 224, 213, 0.6);
  --color-honeydew-100: #ecfff6;
  --color-gainsboro-100: #d4e6de;
  --color-gainsboro-200: #d4e6db;
  --color-lightseagreen-100: #24b59e;
  --color-lightseagreen-200: #30a18f;
  --color-lightseagreen-300: #0b9b85;
  --color-lightseagreen-400: rgba(23, 186, 161, 0.1);
  --color-dimgray-100: #616161;
  --color-black: #000;
  --color-turquoise: rgba(73, 237, 211, 0.1);
  --color-lavender: #dbe5fc;
  --color-cornflowerblue: #588fef;

  /* Gaps */
  --gap-156xl: 10.937rem;
  --gap-24xl: 2.687rem;
  --gap-2xl: 1.312rem;
  --gap-mini: 0.937rem;
  --gap-xl: 1.25rem;
  --gap-46xl: 4.062rem;
  --gap-base: 1rem;
  --gap-13xl: 2rem;
  --gap-3xl-4: 1.4rem;
  --gap-65xl: 5.25rem;
  --gap-23xl: 2.625rem;
  --gap-30xl: 3.062rem;
  --gap-5xl: 1.5rem;
  --gap-4xl: 1.437rem;
  --gap-4xl-4: 1.462rem;
  --gap-18xl: 2.312rem;
  --gap-lg: 1.125rem;
  --gap-8xs: 0.312rem;
  --gap-20xl: 2.437rem;
  --gap-60xl: 4.937rem;
  --gap-27xl: 2.875rem;
  --gap-41xl: 3.75rem;
  --gap-7xl: 1.625rem;
  --gap-lgi: 1.187rem;
  --gap-14xl: 2.062rem;
  --gap-12xl: 1.937rem;
  --gap-47xl: 4.125rem;
  --gap-93xl: 7rem;
  --gap-37xl: 3.5rem;
  --gap-9xl: 1.75rem;
  --gap-14xl-6: 2.1rem;
  --gap-mid: 1.062rem;
  --gap-9xl-6: 1.787rem;
  --gap-92xl: 6.937rem;
  --gap-36xl: 3.437rem;
  --gap-63xl: 5.125rem;
  --gap-22xl: 2.562rem;
  --gap-110xl: 8.062rem;
  --gap-45xl: 4rem;
  --gap-144xl: 10.187rem;
  --gap-62xl: 5.062rem;
  --gap-85xl: 6.5rem;
  --gap-33xl: 3.25rem;
  --gap-58xl: 4.812rem;
  --gap-19xl: 2.375rem;
  --gap-49xl-7: 4.293rem;
  --gap-70xl: 5.562rem;
  --gap-3xl: 1.375rem;
  --gap-25xl: 2.75rem;
  --gap-12xs-5: 0.031rem;
  --gap-252xl: 16.937rem;
  --gap-116xl: 8.437rem;
  --gap-15xl: 2.125rem;
  --gap-49xl: 4.25rem;
  --gap-117xl: 8.5rem;
  --gap-44xl: 3.937rem;
  --gap-43xl: 3.875rem;
  --gap-82xl: 6.312rem;
  --gap-6xl: 1.562rem;
  --gap-31xl: 3.125rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-229xl: 15.5rem;
  --padding-sm: 0.875rem;
  --padding-134xl: 9.562rem;
  --padding-142xl: 10.062rem;
  --padding-80xl: 6.187rem;
  --padding-130xl: 9.312rem;
  --padding-214xl: 14.562rem;
  --padding-158xl: 11.062rem;
  --padding-132xl: 9.437rem;
  --padding-96xl: 7.187rem;
  --padding-121xl: 8.75rem;
  --padding-108xl: 7.937rem;
  --padding-64xl: 5.187rem;
  --padding-43xl: 3.875rem;
  --padding-12xl: 1.937rem;
  --padding-16xl: 2.187rem;
  --padding-20xl: 2.437rem;
  --padding-5xl: 1.5rem;
  --padding-7xl: 1.625rem;
  --padding-3xs: 0.625rem;
  --padding-40xl: 3.687rem;
  --padding-188xl: 12.937rem;
  --padding-54xl: 4.562rem;
  --padding-213xl: 14.5rem;
  --padding-6xl: 1.562rem;
  --padding-32xl: 3.187rem;
  --padding-39xl: 3.625rem;
  --padding-19xl: 2.375rem;
  --padding-84xl: 6.437rem;
  --padding-28xl: 2.937rem;
  --padding-97xl: 7.25rem;
  --padding-75xl: 5.875rem;
  --padding-42xl: 3.812rem;
  --padding-9xs: 0.25rem;
  --padding-2xs: 0.687rem;
  --padding-2xl: 1.312rem;
  --padding-14xl: 2.062rem;
  --padding-xl-4: 1.275rem;
  --padding-mid: 1.062rem;
  --padding-lgi-6: 1.225rem;
  --padding-smi: 0.812rem;
  --padding-4xl: 1.437rem;
  --padding-lgi: 1.187rem;
  --padding-34xl: 3.312rem;
  --padding-37xl: 3.5rem;
  --padding-62xl: 5.062rem;
  --padding-3xl: 1.375rem;
  --padding-15xl: 2.125rem;
  --padding-9xl: 1.75rem;
  --padding-21xl: 2.5rem;
  --padding-8xs: 0.312rem;
  --padding-mini: 0.937rem;
  --padding-6xs: 0.437rem;
  --padding-11xs: 0.125rem;
  --padding-base: 1rem;
  --padding-11xl: 1.875rem;
  --padding-10xs: 0.187rem;
  --padding-41xl: 3.75rem;
  --padding-10xl: 1.812rem;
  --padding-27xl: 2.875rem;
  --padding-74xl: 5.812rem;
  --padding-13xl: 2rem;
  --padding-12xs: 0.062rem;
  --padding-lg: 1.125rem;
  --padding-24xl: 2.687rem;
  --padding-4xs: 0.562rem;
  --padding-61xl: 5rem;
  --padding-89xl: 6.75rem;
  --padding-155xl: 10.875rem;
  --padding-164xl: 11.437rem;
  --padding-26xl: 2.812rem;
  --padding-68xl: 5.437rem;
  --padding-58xl: 4.812rem;
  --padding-31xl: 3.125rem;
  --padding-25xl: 2.75rem;
  --padding-7xs: 0.375rem;
  --padding-91xl: 6.875rem;
  --padding-206xl: 14.062rem;
  --padding-93xl: 7rem;
  --padding-210xl: 14.312rem;
  --padding-78xl: 6.062rem;
  --padding-116xl: 8.437rem;
  --padding-5xs: 0.5rem;
  --padding-xs: 0.75rem;
  --padding-82xl: 6.312rem;
  --padding-112xl: 8.187rem;
  --padding-66xl: 5.312rem;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-980xl: 999px;
  --br-20xl: 39px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-138xl-5: 157.5px;
  --br-mini: 15px;
  --br-31xl: 50px;
}
